# QUERY RPRTAFSSEQLARLKREFNENRYLTERRRQQLSSELGLNEAQIKIWFQNKRAKI
# MATCH ||||||||||||||||||||||||||||||||||||||||||||||||||||||
# INPUT RPRTAFSSEQLARLKREFNENRYLTERRRQQLSSELGLNEAQIKIWFQNKRAKI

AtomPair CB 29 CB 40 SCALARWEIGHTEDFUNC 2.184 SUMFUNC 2 SIGMOID 10.713 2.755 CONSTANTFUNC -0.5
AtomPair CB 13 CB 35 SCALARWEIGHTEDFUNC 1.890 SUMFUNC 2 SIGMOID 10.713 2.755 CONSTANTFUNC -0.5
AtomPair CB 6 CB 23 SCALARWEIGHTEDFUNC 1.886 SUMFUNC 2 SIGMOID 10.999 1.304 CONSTANTFUNC -0.5
AtomPair CB 17 CB 28 SCALARWEIGHTEDFUNC 1.885 SUMFUNC 2 SIGMOID 10.713 2.755 CONSTANTFUNC -0.5
AtomPair CB 46 CB 49 SCALARWEIGHTEDFUNC 1.854 SUMFUNC 2 SIGMOID 9.976 2.183 CONSTANTFUNC -0.5
AtomPair CB 7 CB 10 SCALARWEIGHTEDFUNC 1.819 SUMFUNC 2 SIGMOID 7.807 2.451 CONSTANTFUNC -0.5
AtomPair CB 15 CB 50 SCALARWEIGHTEDFUNC 1.712 SUMFUNC 2 SIGMOID 10.662 1.355 CONSTANTFUNC -0.5
AtomPair CB 46 CB 51 SCALARWEIGHTEDFUNC 1.573 SUMFUNC 2 SIGMOID 11.355 1.125 CONSTANTFUNC -0.5
AtomPair CB 26 CB 52 SCALARWEIGHTEDFUNC 1.560 SUMFUNC 2 SIGMOID 7.124 2.941 CONSTANTFUNC -0.5
AtomPair CB 16 CB 19 SCALARWEIGHTEDFUNC 1.557 SUMFUNC 2 SIGMOID 10.135 2.688 CONSTANTFUNC -0.5
AtomPair CB 13 CB 16 SCALARWEIGHTEDFUNC 1.525 SUMFUNC 2 SIGMOID 12.05 1.420 CONSTANTFUNC -0.5
AtomPair CB 1 CB 4 SCALARWEIGHTEDFUNC 1.496 SUMFUNC 2 SIGMOID 9.764 2.096 CONSTANTFUNC -0.5
AtomPair CB 21 CB 28 SCALARWEIGHTEDFUNC 1.490 SUMFUNC 2 SIGMOID 10.135 2.688 CONSTANTFUNC -0.5
AtomPair CB 31 CB 35 SCALARWEIGHTEDFUNC 1.406 SUMFUNC 2 SIGMOID 9.328 2.222 CONSTANTFUNC -0.5
AtomPair CB 38 CB 42 SCALARWEIGHTEDFUNC 1.373 SUMFUNC 2 SIGMOID 8.48 2.433 CONSTANTFUNC -0.5
AtomPair CB 2 CB 8 SCALARWEIGHTEDFUNC 1.344 SUMFUNC 2 SIGMOID 6.937 3.115 CONSTANTFUNC -0.5
AtomPair CB 47 CB 51 SCALARWEIGHTEDFUNC 1.315 SUMFUNC 2 SIGMOID 10.577 1.355 CONSTANTFUNC -0.5
AtomPair CB 25 CB 28 SCALARWEIGHTEDFUNC 1.279 SUMFUNC 2 SIGMOID 9.764 2.096 CONSTANTFUNC -0.5
AtomPair CB 32 CB 43 SCALARWEIGHTEDFUNC 1.180 SUMFUNC 2 SIGMOID 8.342 3.831 CONSTANTFUNC -0.5
AtomPair CB 9 CB 34 SCALARWEIGHTEDFUNC 1.177 SUMFUNC 2 SIGMOID 7.483 2.242 CONSTANTFUNC -0.5
AtomPair CB 39 CB 42 SCALARWEIGHTEDFUNC 1.175 SUMFUNC 2 SIGMOID 8.502 2.681 CONSTANTFUNC -0.5
AtomPair CB 49 CB 53 SCALARWEIGHTEDFUNC 1.152 SUMFUNC 2 SIGMOID 9.319 2.513 CONSTANTFUNC -0.5
AtomPair CB 12 CB 16 SCALARWEIGHTEDFUNC 1.148 SUMFUNC 2 SIGMOID 9.365 2.062 CONSTANTFUNC -0.5
AtomPair CB 13 CB 17 SCALARWEIGHTEDFUNC 1.137 SUMFUNC 2 SIGMOID 10.713 2.755 CONSTANTFUNC -0.5
AtomPair CB 9 CB 13 SCALARWEIGHTEDFUNC 1.120 SUMFUNC 2 SIGMOID 10.713 2.755 CONSTANTFUNC -0.5
AtomPair CB 17 CB 21 SCALARWEIGHTEDFUNC 1.108 SUMFUNC 2 SIGMOID 8.485 2.364 CONSTANTFUNC -0.5
AtomPair CB 26 CB 30 SCALARWEIGHTEDFUNC 1.103 SUMFUNC 2 SIGMOID 9.328 2.222 CONSTANTFUNC -0.5
AtomPair CB 6 CB 38 SCALARWEIGHTEDFUNC 1.099 SUMFUNC 2 SIGMOID 9.9 3.846 CONSTANTFUNC -0.5
AtomPair CB 3 CB 14 SCALARWEIGHTEDFUNC 1.091 SUMFUNC 2 SIGMOID 9.852 1.730 CONSTANTFUNC -0.5
AtomPair CB 16 CB 20 SCALARWEIGHTEDFUNC 1.077 SUMFUNC 2 SIGMOID 10.713 2.755 CONSTANTFUNC -0.5
AtomPair CB 45 CB 49 SCALARWEIGHTEDFUNC 1.042 SUMFUNC 2 SIGMOID 7.631 2.933 CONSTANTFUNC -0.5
AtomPair CB 18 CB 33 SCALARWEIGHTEDFUNC 1.014 SUMFUNC 2 SIGMOID 8.694 2.538 CONSTANTFUNC -0.5
