# QUERY MQIFVKTLTGKTITLEVEPSDTIENVKAKIQDKEGIPPDQQRLIFAGKQLEDGRTLSDYNIQKESTLHLVLRLRGG
# MATCH ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
# INPUT MQIFVKTLTGKTITLEVEPSDTIENVKAKIQDKEGIPPDQQRLIFAGKQLEDGRTLSDYNIQKESTLHLVLRLRGG

AtomPair CB 27 CB 52 SCALARWEIGHTEDFUNC 4.084 SUMFUNC 2 SIGMOID 9.306 2.915 CONSTANTFUNC -0.5
AtomPair CB 21 CB 29 SCALARWEIGHTEDFUNC 2.637 SUMFUNC 2 SIGMOID 9.306 2.915 CONSTANTFUNC -0.5
AtomPair CB 24 CB 28 SCALARWEIGHTEDFUNC 2.060 SUMFUNC 2 SIGMOID 7.124 2.941 CONSTANTFUNC -0.5
AtomPair CB 21 CB 25 SCALARWEIGHTEDFUNC 2.009 SUMFUNC 2 SIGMOID 7.672 2.967 CONSTANTFUNC -0.5
AtomPair CB 55 CB 58 SCALARWEIGHTEDFUNC 1.977 SUMFUNC 2 SIGMOID 6.971 3.257 CONSTANTFUNC -0.5
AtomPair CB 54 CB 58 SCALARWEIGHTEDFUNC 1.973 SUMFUNC 2 SIGMOID 10.123 3.058 CONSTANTFUNC -0.5
AtomPair CB 54 CB 59 SCALARWEIGHTEDFUNC 1.824 SUMFUNC 2 SIGMOID 11.615 1.217 CONSTANTFUNC -0.5
AtomPair CB 36 CB 41 SCALARWEIGHTEDFUNC 1.776 SUMFUNC 2 SIGMOID 8.302 2.463 CONSTANTFUNC -0.5
AtomPair CB 37 CB 41 SCALARWEIGHTEDFUNC 1.655 SUMFUNC 2 SIGMOID 8.308 2.439 CONSTANTFUNC -0.5
AtomPair CB 25 CB 28 SCALARWEIGHTEDFUNC 1.589 SUMFUNC 2 SIGMOID 6.766 2.865 CONSTANTFUNC -0.5
AtomPair CB 1 CB 16 SCALARWEIGHTEDFUNC 1.574 SUMFUNC 2 SIGMOID 8.87 1.957 CONSTANTFUNC -0.5
AtomPair CB 51 CB 54 SCALARWEIGHTEDFUNC 1.573 SUMFUNC 2 SIGMOID 10.713 2.755 CONSTANTFUNC -0.5
AtomPair CB 29 CB 32 SCALARWEIGHTEDFUNC 1.563 SUMFUNC 2 SIGMOID 9.306 2.915 CONSTANTFUNC -0.5
AtomPair CB 62 CB 65 SCALARWEIGHTEDFUNC 1.546 SUMFUNC 2 SIGMOID 7.807 2.451 CONSTANTFUNC -0.5
AtomPair CB 44 CB 70 SCALARWEIGHTEDFUNC 1.531 SUMFUNC 2 SIGMOID 7.441 4.132 CONSTANTFUNC -0.5
AtomPair CB 31 CB 38 SCALARWEIGHTEDFUNC 1.518 SUMFUNC 2 SIGMOID 8.308 2.439 CONSTANTFUNC -0.5
AtomPair CB 3 CB 17 SCALARWEIGHTEDFUNC 1.494 SUMFUNC 2 SIGMOID 7.441 4.132 CONSTANTFUNC -0.5
AtomPair CB 21 CB 26 SCALARWEIGHTEDFUNC 1.494 SUMFUNC 2 SIGMOID 6.972 3.484 CONSTANTFUNC -0.5
AtomPair CB 18 CB 21 SCALARWEIGHTEDFUNC 1.471 SUMFUNC 2 SIGMOID 8.945 2.825 CONSTANTFUNC -0.5
AtomPair CB 30 CB 43 SCALARWEIGHTEDFUNC 1.453 SUMFUNC 2 SIGMOID 8.342 3.831 CONSTANTFUNC -0.5
AtomPair CB 24 CB 52 SCALARWEIGHTEDFUNC 1.405 SUMFUNC 2 SIGMOID 8.945 2.825 CONSTANTFUNC -0.5
AtomPair CB 4 CB 14 SCALARWEIGHTEDFUNC 1.327 SUMFUNC 2 SIGMOID 9.03 3.788 CONSTANTFUNC -0.5
AtomPair CB 44 CB 49 SCALARWEIGHTEDFUNC 1.300 SUMFUNC 2 SIGMOID 8.302 2.463 CONSTANTFUNC -0.5
AtomPair CB 22 CB 25 SCALARWEIGHTEDFUNC 1.243 SUMFUNC 2 SIGMOID 7.159 3.817 CONSTANTFUNC -0.5
AtomPair CB 44 CB 68 SCALARWEIGHTEDFUNC 1.240 SUMFUNC 2 SIGMOID 8.523 2.639 CONSTANTFUNC -0.5
AtomPair CB 73 CA 76 SCALARWEIGHTEDFUNC 1.197 SUMFUNC 2 SIGMOID 6.554 8.000 CONSTANTFUNC -0.5
AtomPair CB 61 CB 67 SCALARWEIGHTEDFUNC 1.174 SUMFUNC 2 SIGMOID 8.342 3.831 CONSTANTFUNC -0.5
AtomPair CB 17 CB 21 SCALARWEIGHTEDFUNC 1.162 SUMFUNC 2 SIGMOID 6.972 3.484 CONSTANTFUNC -0.5
AtomPair CB 2 CB 14 SCALARWEIGHTEDFUNC 1.160 SUMFUNC 2 SIGMOID 8.055 2.646 CONSTANTFUNC -0.5
AtomPair CB 23 CB 56 SCALARWEIGHTEDFUNC 1.152 SUMFUNC 2 SIGMOID 8.342 3.831 CONSTANTFUNC -0.5
AtomPair CB 4 CB 66 SCALARWEIGHTEDFUNC 1.144 SUMFUNC 2 SIGMOID 9.03 3.788 CONSTANTFUNC -0.5
AtomPair CB 29 CB 33 SCALARWEIGHTEDFUNC 1.127 SUMFUNC 2 SIGMOID 10.662 1.355 CONSTANTFUNC -0.5
AtomPair CB 45 CB 65 SCALARWEIGHTEDFUNC 1.122 SUMFUNC 2 SIGMOID 8.694 2.538 CONSTANTFUNC -0.5
AtomPair CB 45 CB 48 SCALARWEIGHTEDFUNC 1.102 SUMFUNC 2 SIGMOID 9.344 2.268 CONSTANTFUNC -0.5
AtomPair CB 3 CB 26 SCALARWEIGHTEDFUNC 1.084 SUMFUNC 2 SIGMOID 7.441 4.132 CONSTANTFUNC -0.5
AtomPair CB 2 CB 63 SCALARWEIGHTEDFUNC 1.079 SUMFUNC 2 SIGMOID 9.667 1.919 CONSTANTFUNC -0.5
AtomPair CB 19 CB 57 SCALARWEIGHTEDFUNC 1.070 SUMFUNC 2 SIGMOID 6.937 3.115 CONSTANTFUNC -0.5
AtomPair CB 50 CB 59 SCALARWEIGHTEDFUNC 1.042 SUMFUNC 2 SIGMOID 9.889 1.637 CONSTANTFUNC -0.5
AtomPair CB 6 CA 47 SCALARWEIGHTEDFUNC 1.037 SUMFUNC 2 SIGMOID 8.216 2.793 CONSTANTFUNC -0.5
AtomPair CB 15 CB 26 SCALARWEIGHTEDFUNC 1.035 SUMFUNC 2 SIGMOID 7.633 5.587 CONSTANTFUNC -0.5
AtomPair CB 31 CB 41 SCALARWEIGHTEDFUNC 1.033 SUMFUNC 2 SIGMOID 9.074 2.294 CONSTANTFUNC -0.5
AtomPair CB 55 CB 59 SCALARWEIGHTEDFUNC 1.033 SUMFUNC 2 SIGMOID 9.813 2.326 CONSTANTFUNC -0.5
