# QUERY MNFSGKYQVQSQENFEPFMKAMGLPEDLIQKGKDIKGVSEIVHEGKKVKLTITYGSKVIHNEFTLGEECELETMTGEKVKAVVKMEGDNKMVTTFKGIKS
# MATCH ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
# INPUT MNFSGKYQVQSQENFEPFMKAMGLPEDLIQKGKDIKGVSEIVHEGKKVKLTITYGSKVIHNEFTLGEECELETMTGEKVKAVVKMEGDNKMVTTFKGIKS

# QUERY VTEFNGDTITNTMTLGDIVYKRVSKRI
# MATCH |||||||||||||||||||||||||||
# INPUT VTEFNGDTITNTMTLGDIVYKRVSKRI

AtomPair CB 68 CB 80 SCALARWEIGHTEDFUNC 2.876 SUMFUNC 2 SIGMOID 9.842 2.304 CONSTANTFUNC -0.5
AtomPair CB 64 CB 67 SCALARWEIGHTEDFUNC 2.739 SUMFUNC 2 SIGMOID 7.628 2.445 CONSTANTFUNC -0.5
AtomPair CB 70 CB 80 SCALARWEIGHTEDFUNC 2.384 SUMFUNC 2 SIGMOID 9.842 2.304 CONSTANTFUNC -0.5
AtomPair CB 7 CB 104 SCALARWEIGHTEDFUNC 2.314 SUMFUNC 2 SIGMOID 10.999 1.304 CONSTANTFUNC -0.5
AtomPair CB 90 CB 103 SCALARWEIGHTEDFUNC 2.301 SUMFUNC 2 SIGMOID 9.842 2.304 CONSTANTFUNC -0.5
AtomPair CB 47 CB 62 SCALARWEIGHTEDFUNC 2.202 SUMFUNC 2 SIGMOID 9.842 2.304 CONSTANTFUNC -0.5
AtomPair CB 46 CB 64 SCALARWEIGHTEDFUNC 2.045 SUMFUNC 2 SIGMOID 8.715 2.155 CONSTANTFUNC -0.5
AtomPair CB 73 CB 77 SCALARWEIGHTEDFUNC 1.922 SUMFUNC 2 SIGMOID 7.628 2.445 CONSTANTFUNC -0.5
AtomPair CB 101 CB 114 SCALARWEIGHTEDFUNC 1.876 SUMFUNC 2 SIGMOID 6.791 7.246 CONSTANTFUNC -0.5
AtomPair CB 47 CB 64 SCALARWEIGHTEDFUNC 1.827 SUMFUNC 2 SIGMOID 8.715 2.155 CONSTANTFUNC -0.5
AtomPair CB 51 CB 60 SCALARWEIGHTEDFUNC 1.817 SUMFUNC 2 SIGMOID 8.221 2.398 CONSTANTFUNC -0.5
AtomPair CB 81 CB 93 SCALARWEIGHTEDFUNC 1.767 SUMFUNC 2 SIGMOID 5.982 2.646 CONSTANTFUNC -0.5
AtomPair CB 85 CB 91 SCALARWEIGHTEDFUNC 1.765 SUMFUNC 2 SIGMOID 9.53 2.188 CONSTANTFUNC -0.5
AtomPair CB 25 CB 28 SCALARWEIGHTEDFUNC 1.730 SUMFUNC 2 SIGMOID 7.751 3.155 CONSTANTFUNC -0.5
AtomPair CB 27 CB 31 SCALARWEIGHTEDFUNC 1.722 SUMFUNC 2 SIGMOID 9.306 2.915 CONSTANTFUNC -0.5
AtomPair CB 67 CA 87 SCALARWEIGHTEDFUNC 1.715 SUMFUNC 2 SIGMOID 7.036 4.016 CONSTANTFUNC -0.5
AtomPair CB 72 CB 78 SCALARWEIGHTEDFUNC 1.697 SUMFUNC 2 SIGMOID 9.842 2.304 CONSTANTFUNC -0.5
AtomPair CB 11 CB 123 SCALARWEIGHTEDFUNC 1.684 SUMFUNC 2 SIGMOID 6.567 4.878 CONSTANTFUNC -0.5
AtomPair CB 43 CB 48 SCALARWEIGHTEDFUNC 1.631 SUMFUNC 2 SIGMOID 8.179 2.611 CONSTANTFUNC -0.5
AtomPair CB 6 CB 40 SCALARWEIGHTEDFUNC 1.627 SUMFUNC 2 SIGMOID 9.842 2.304 CONSTANTFUNC -0.5
AtomPair CB 19 CA 32 SCALARWEIGHTEDFUNC 1.611 SUMFUNC 2 SIGMOID 7.383 3.922 CONSTANTFUNC -0.5
AtomPair CB 70 CB 78 SCALARWEIGHTEDFUNC 1.609 SUMFUNC 2 SIGMOID 9.842 2.304 CONSTANTFUNC -0.5
AtomPair CB 4 CB 43 SCALARWEIGHTEDFUNC 1.571 SUMFUNC 2 SIGMOID 8.051 2.299 CONSTANTFUNC -0.5
AtomPair CA 45 CA 66 SCALARWEIGHTEDFUNC 1.557 SUMFUNC 2 SIGMOID 4.467 58.824 CONSTANTFUNC -0.5
AtomPair CB 41 CB 50 SCALARWEIGHTEDFUNC 1.542 SUMFUNC 2 SIGMOID 8.342 3.831 CONSTANTFUNC -0.5
AtomPair CB 9 CB 12 SCALARWEIGHTEDFUNC 1.476 SUMFUNC 2 SIGMOID 8.008 2.786 CONSTANTFUNC -0.5
AtomPair CB 21 CA 116 SCALARWEIGHTEDFUNC 1.407 SUMFUNC 2 SIGMOID 5.201 3.717 CONSTANTFUNC -0.5
AtomPair CB 112 CB 123 SCALARWEIGHTEDFUNC 1.406 SUMFUNC 2 SIGMOID 6.791 7.246 CONSTANTFUNC -0.5
AtomPair CB 103 CB 112 SCALARWEIGHTEDFUNC 1.385 SUMFUNC 2 SIGMOID 7.628 2.445 CONSTANTFUNC -0.5
AtomPair CB 36 CB 124 SCALARWEIGHTEDFUNC 1.380 SUMFUNC 2 SIGMOID 8.792 2.247 CONSTANTFUNC -0.5
AtomPair CB 101 CB 112 SCALARWEIGHTEDFUNC 1.374 SUMFUNC 2 SIGMOID 6.791 7.246 CONSTANTFUNC -0.5
AtomPair CB 100 CB 111 SCALARWEIGHTEDFUNC 1.372 SUMFUNC 2 SIGMOID 7.081 3.279 CONSTANTFUNC -0.5
AtomPair CB 17 CB 20 SCALARWEIGHTEDFUNC 1.372 SUMFUNC 2 SIGMOID 9.198 1.818 CONSTANTFUNC -0.5
AtomPair CB 108 CB 125 SCALARWEIGHTEDFUNC 1.330 SUMFUNC 2 SIGMOID 8.715 2.155 CONSTANTFUNC -0.5
AtomPair CB 47 CB 67 SCALARWEIGHTEDFUNC 1.320 SUMFUNC 2 SIGMOID 9.842 2.304 CONSTANTFUNC -0.5
AtomPair CB 104 CB 107 SCALARWEIGHTEDFUNC 1.310 SUMFUNC 2 SIGMOID 9.111 2.849 CONSTANTFUNC -0.5
AtomPair CB 71 CB 81 SCALARWEIGHTEDFUNC 1.276 SUMFUNC 2 SIGMOID 6.707 4.000 CONSTANTFUNC -0.5
AtomPair CB 49 CB 62 SCALARWEIGHTEDFUNC 1.251 SUMFUNC 2 SIGMOID 9.842 2.304 CONSTANTFUNC -0.5
AtomPair CB 25 CB 29 SCALARWEIGHTEDFUNC 1.229 SUMFUNC 2 SIGMOID 7.554 2.976 CONSTANTFUNC -0.5
AtomPair CB 84 CB 94 SCALARWEIGHTEDFUNC 1.223 SUMFUNC 2 SIGMOID 8.715 2.155 CONSTANTFUNC -0.5
AtomPair CB 51 CB 58 SCALARWEIGHTEDFUNC 1.213 SUMFUNC 2 SIGMOID 6.791 7.246 CONSTANTFUNC -0.5
AtomPair CB 15 CB 19 SCALARWEIGHTEDFUNC 1.212 SUMFUNC 2 SIGMOID 10.253 2.653 CONSTANTFUNC -0.5
AtomPair CB 71 CB 93 SCALARWEIGHTEDFUNC 1.157 SUMFUNC 2 SIGMOID 7.642 5.263 CONSTANTFUNC -0.5
AtomPair CB 36 CB 104 SCALARWEIGHTEDFUNC 1.152 SUMFUNC 2 SIGMOID 9.344 2.268 CONSTANTFUNC -0.5
AtomPair CB 105 CB 110 SCALARWEIGHTEDFUNC 1.132 SUMFUNC 2 SIGMOID 7.159 3.817 CONSTANTFUNC -0.5
AtomPair CB 90 CB 101 SCALARWEIGHTEDFUNC 1.127 SUMFUNC 2 SIGMOID 8.077 1.577 CONSTANTFUNC -0.5
AtomPair CB 69 CB 75 SCALARWEIGHTEDFUNC 1.094 SUMFUNC 2 SIGMOID 6.801 5.525 CONSTANTFUNC -0.5
AtomPair CA 87 CB 104 SCALARWEIGHTEDFUNC 1.091 SUMFUNC 2 SIGMOID 7.966 4.566 CONSTANTFUNC -0.5
AtomPair CB 11 CB 112 SCALARWEIGHTEDFUNC 1.068 SUMFUNC 2 SIGMOID 6.45 4.673 CONSTANTFUNC -0.5
AtomPair CB 112 CB 121 SCALARWEIGHTEDFUNC 1.068 SUMFUNC 2 SIGMOID 8.715 2.155 CONSTANTFUNC -0.5
AtomPair CB 14 CB 17 SCALARWEIGHTEDFUNC 1.059 SUMFUNC 2 SIGMOID 7.497 2.994 CONSTANTFUNC -0.5
AtomPair CA 55 CB 75 SCALARWEIGHTEDFUNC 1.045 SUMFUNC 2 SIGMOID 5.619 8.333 CONSTANTFUNC -0.5
AtomPair CB 10 CB 125 SCALARWEIGHTEDFUNC 1.022 SUMFUNC 2 SIGMOID 9.667 1.919 CONSTANTFUNC -0.5
AtomPair CB 121 CB 125 SCALARWEIGHTEDFUNC 1.004 SUMFUNC 2 SIGMOID 10.662 1.355 CONSTANTFUNC -0.5
