# QUERY MSYVPHVPYVPTPEKVVRRMLEIAKVSQDDIVYDLGCGDGRIIITAAKDFNVKKAVGVEINDERIREALANIEKNGVTGRASIVKGNFFEVDISEATVVT
# MATCH ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
# INPUT MSYVPHVPYVPTPEKVVRRMLEIAKVSQDDIVYDLGCGDGRIIITAAKDFNVKKAVGVEINDERIREALANIEKNGVTGRASIVKGNFFEVDISEATVVT

# QUERY MFLLTNVNEMLKPKLEKELKPGTRVVSHEFEIRGWNPKEVIKVEDGNMNHTVYLYVIGEHKLE
# MATCH |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
# INPUT MFLLTNVNEMLKPKLEKELKPGTRVVSHEFEIRGWNPKEVIKVEDGNMNHTVYLYVIGEHKLE

AtomPair CB 31 CB 54 SCALARWEIGHTEDFUNC 2.994 SUMFUNC 2 SIGMOID 8.329 1.718 CONSTANTFUNC -0.5
AtomPair CB 43 CA 57 SCALARWEIGHTEDFUNC 2.958 SUMFUNC 2 SIGMOID 6.413 5.587 CONSTANTFUNC -0.5
AtomPair CB 119 CB 123 SCALARWEIGHTEDFUNC 2.809 SUMFUNC 2 SIGMOID 7.642 5.263 CONSTANTFUNC -0.5
AtomPair CB 33 CB 96 SCALARWEIGHTEDFUNC 2.659 SUMFUNC 2 SIGMOID 9.121 2.257 CONSTANTFUNC -0.5
AtomPair CB 56 CB 96 SCALARWEIGHTEDFUNC 2.487 SUMFUNC 2 SIGMOID 5.854 3.205 CONSTANTFUNC -0.5
AtomPair CB 59 CB 65 SCALARWEIGHTEDFUNC 2.354 SUMFUNC 2 SIGMOID 7.949 2.208 CONSTANTFUNC -0.5
AtomPair CB 62 CB 85 SCALARWEIGHTEDFUNC 2.322 SUMFUNC 2 SIGMOID 9.306 2.915 CONSTANTFUNC -0.5
AtomPair CB 56 CB 84 SCALARWEIGHTEDFUNC 2.295 SUMFUNC 2 SIGMOID 6.759 6.897 CONSTANTFUNC -0.5
AtomPair CB 37 CA 57 SCALARWEIGHTEDFUNC 2.278 SUMFUNC 2 SIGMOID 5.777 7.752 CONSTANTFUNC -0.5
AtomPair CB 97 CB 120 SCALARWEIGHTEDFUNC 2.272 SUMFUNC 2 SIGMOID 8.715 2.155 CONSTANTFUNC -0.5
AtomPair CB 54 CB 82 SCALARWEIGHTEDFUNC 2.131 SUMFUNC 2 SIGMOID 8.792 2.247 CONSTANTFUNC -0.5
AtomPair CB 44 CB 72 SCALARWEIGHTEDFUNC 2.106 SUMFUNC 2 SIGMOID 8.096 3.115 CONSTANTFUNC -0.5
AtomPair CB 65 CB 83 SCALARWEIGHTEDFUNC 2.077 SUMFUNC 2 SIGMOID 8.096 3.115 CONSTANTFUNC -0.5
AtomPair CB 62 CB 66 SCALARWEIGHTEDFUNC 1.943 SUMFUNC 2 SIGMOID 10.123 3.058 CONSTANTFUNC -0.5
AtomPair CB 37 CB 68 SCALARWEIGHTEDFUNC 1.900 SUMFUNC 2 SIGMOID 6.057 2.538 CONSTANTFUNC -0.5
AtomPair CB 59 CB 64 SCALARWEIGHTEDFUNC 1.778 SUMFUNC 2 SIGMOID 10.713 2.755 CONSTANTFUNC -0.5
AtomPair CB 72 CB 83 SCALARWEIGHTEDFUNC 1.748 SUMFUNC 2 SIGMOID 8.096 3.115 CONSTANTFUNC -0.5
AtomPair CB 114 CB 117 SCALARWEIGHTEDFUNC 1.746 SUMFUNC 2 SIGMOID 10.662 1.355 CONSTANTFUNC -0.5
AtomPair CB 48 CB 75 SCALARWEIGHTEDFUNC 1.734 SUMFUNC 2 SIGMOID 9.319 2.513 CONSTANTFUNC -0.5
AtomPair CB 65 CB 85 SCALARWEIGHTEDFUNC 1.717 SUMFUNC 2 SIGMOID 8.329 1.718 CONSTANTFUNC -0.5
AtomPair CB 17 CB 41 SCALARWEIGHTEDFUNC 1.678 SUMFUNC 2 SIGMOID 9.513 1.946 CONSTANTFUNC -0.5
AtomPair CB 47 CB 81 SCALARWEIGHTEDFUNC 1.645 SUMFUNC 2 SIGMOID 5.381 3.817 CONSTANTFUNC -0.5
AtomPair CB 101 CB 125 SCALARWEIGHTEDFUNC 1.623 SUMFUNC 2 SIGMOID 8.335 3.390 CONSTANTFUNC -0.5
AtomPair CB 31 CB 56 SCALARWEIGHTEDFUNC 1.615 SUMFUNC 2 SIGMOID 7.441 4.132 CONSTANTFUNC -0.5
AtomPair CB 72 CB 81 SCALARWEIGHTEDFUNC 1.600 SUMFUNC 2 SIGMOID 6.587 4.673 CONSTANTFUNC -0.5
AtomPair CB 109 CB 113 SCALARWEIGHTEDFUNC 1.574 SUMFUNC 2 SIGMOID 7.938 2.105 CONSTANTFUNC -0.5
AtomPair CB 60 CB 87 SCALARWEIGHTEDFUNC 1.552 SUMFUNC 2 SIGMOID 7.631 2.933 CONSTANTFUNC -0.5
AtomPair CB 114 CB 118 SCALARWEIGHTEDFUNC 1.548 SUMFUNC 2 SIGMOID 9.842 2.304 CONSTANTFUNC -0.5
AtomPair CB 18 CB 22 SCALARWEIGHTEDFUNC 1.546 SUMFUNC 2 SIGMOID 10.713 2.755 CONSTANTFUNC -0.5
AtomPair CB 115 CB 125 SCALARWEIGHTEDFUNC 1.532 SUMFUNC 2 SIGMOID 7.633 5.587 CONSTANTFUNC -0.5
AtomPair CB 31 CB 96 SCALARWEIGHTEDFUNC 1.488 SUMFUNC 2 SIGMOID 6.587 4.673 CONSTANTFUNC -0.5
AtomPair CB 44 CB 71 SCALARWEIGHTEDFUNC 1.473 SUMFUNC 2 SIGMOID 7.631 2.933 CONSTANTFUNC -0.5
AtomPair CB 18 CB 45 SCALARWEIGHTEDFUNC 1.460 SUMFUNC 2 SIGMOID 9.764 2.096 CONSTANTFUNC -0.5
AtomPair CA 57 CB 68 SCALARWEIGHTEDFUNC 1.450 SUMFUNC 2 SIGMOID 5.201 3.717 CONSTANTFUNC -0.5
AtomPair CB 66 CB 70 SCALARWEIGHTEDFUNC 1.437 SUMFUNC 2 SIGMOID 9.365 2.062 CONSTANTFUNC -0.5
AtomPair CB 43 CB 55 SCALARWEIGHTEDFUNC 1.427 SUMFUNC 2 SIGMOID 6.587 4.673 CONSTANTFUNC -0.5
AtomPair CB 68 CB 83 SCALARWEIGHTEDFUNC 1.420 SUMFUNC 2 SIGMOID 6.587 4.673 CONSTANTFUNC -0.5
AtomPair CB 66 CB 69 SCALARWEIGHTEDFUNC 1.398 SUMFUNC 2 SIGMOID 9.852 1.730 CONSTANTFUNC -0.5
AtomPair CB 31 CB 97 SCALARWEIGHTEDFUNC 1.380 SUMFUNC 2 SIGMOID 7.442 3.861 CONSTANTFUNC -0.5
AtomPair CB 87 CB 90 SCALARWEIGHTEDFUNC 1.365 SUMFUNC 2 SIGMOID 8.485 2.364 CONSTANTFUNC -0.5
AtomPair CB 70 CB 74 SCALARWEIGHTEDFUNC 1.363 SUMFUNC 2 SIGMOID 8.327 1.818 CONSTANTFUNC -0.5
AtomPair CB 18 CB 49 SCALARWEIGHTEDFUNC 1.327 SUMFUNC 2 SIGMOID 10.123 3.058 CONSTANTFUNC -0.5
AtomPair CB 129 CB 153 SCALARWEIGHTEDFUNC 1.318 SUMFUNC 2 SIGMOID 10.544 2.132 CONSTANTFUNC -0.5
AtomPair CB 73 CB 78 SCALARWEIGHTEDFUNC 1.305 SUMFUNC 2 SIGMOID 7.628 2.445 CONSTANTFUNC -0.5
AtomPair CB 58 CB 91 SCALARWEIGHTEDFUNC 1.291 SUMFUNC 2 SIGMOID 6.759 6.897 CONSTANTFUNC -0.5
AtomPair CB 56 CB 82 SCALARWEIGHTEDFUNC 1.287 SUMFUNC 2 SIGMOID 6.567 4.878 CONSTANTFUNC -0.5
AtomPair CB 30 CB 98 SCALARWEIGHTEDFUNC 1.258 SUMFUNC 2 SIGMOID 6.972 3.484 CONSTANTFUNC -0.5
AtomPair CB 144 CB 148 SCALARWEIGHTEDFUNC 1.253 SUMFUNC 2 SIGMOID 8.87 1.957 CONSTANTFUNC -0.5
AtomPair CB 32 CB 46 SCALARWEIGHTEDFUNC 1.252 SUMFUNC 2 SIGMOID 5.854 3.205 CONSTANTFUNC -0.5
AtomPair CB 20 CB 152 SCALARWEIGHTEDFUNC 1.251 SUMFUNC 2 SIGMOID 8.335 3.390 CONSTANTFUNC -0.5
AtomPair CB 37 CB 59 SCALARWEIGHTEDFUNC 1.233 SUMFUNC 2 SIGMOID 7.449 1.859 CONSTANTFUNC -0.5
AtomPair CA 57 CB 81 SCALARWEIGHTEDFUNC 1.212 SUMFUNC 2 SIGMOID 5.201 3.717 CONSTANTFUNC -0.5
AtomPair CA 57 CB 83 SCALARWEIGHTEDFUNC 1.210 SUMFUNC 2 SIGMOID 6.413 5.587 CONSTANTFUNC -0.5
AtomPair CB 65 CB 69 SCALARWEIGHTEDFUNC 1.198 SUMFUNC 2 SIGMOID 8.342 3.831 CONSTANTFUNC -0.5
AtomPair CB 42 CB 100 SCALARWEIGHTEDFUNC 1.182 SUMFUNC 2 SIGMOID 7.442 3.861 CONSTANTFUNC -0.5
AtomPair CB 20 CB 128 SCALARWEIGHTEDFUNC 1.173 SUMFUNC 2 SIGMOID 9.396 2.924 CONSTANTFUNC -0.5
AtomPair CB 27 CB 30 SCALARWEIGHTEDFUNC 1.162 SUMFUNC 2 SIGMOID 6.76 3.096 CONSTANTFUNC -0.5
AtomPair CB 32 CB 42 SCALARWEIGHTEDFUNC 1.154 SUMFUNC 2 SIGMOID 7.441 4.132 CONSTANTFUNC -0.5
AtomPair CB 99 CB 115 SCALARWEIGHTEDFUNC 1.149 SUMFUNC 2 SIGMOID 7.633 5.587 CONSTANTFUNC -0.5
AtomPair CB 33 CB 56 SCALARWEIGHTEDFUNC 1.146 SUMFUNC 2 SIGMOID 9.442 1.869 CONSTANTFUNC -0.5
AtomPair CB 37 CB 43 SCALARWEIGHTEDFUNC 1.140 SUMFUNC 2 SIGMOID 7.476 3.390 CONSTANTFUNC -0.5
AtomPair CB 32 CB 98 SCALARWEIGHTEDFUNC 1.136 SUMFUNC 2 SIGMOID 6.759 6.897 CONSTANTFUNC -0.5
AtomPair CB 47 CB 55 SCALARWEIGHTEDFUNC 1.134 SUMFUNC 2 SIGMOID 5.381 3.817 CONSTANTFUNC -0.5
AtomPair CB 19 CB 22 SCALARWEIGHTEDFUNC 1.126 SUMFUNC 2 SIGMOID 10.713 2.755 CONSTANTFUNC -0.5
AtomPair CB 32 CB 100 SCALARWEIGHTEDFUNC 1.111 SUMFUNC 2 SIGMOID 6.791 7.246 CONSTANTFUNC -0.5
AtomPair CB 35 CB 58 SCALARWEIGHTEDFUNC 1.105 SUMFUNC 2 SIGMOID 7.633 5.587 CONSTANTFUNC -0.5
AtomPair CB 137 CB 140 SCALARWEIGHTEDFUNC 1.096 SUMFUNC 2 SIGMOID 7.063 3.356 CONSTANTFUNC -0.5
AtomPair CB 70 CB 73 SCALARWEIGHTEDFUNC 1.089 SUMFUNC 2 SIGMOID 7.124 2.941 CONSTANTFUNC -0.5
AtomPair CB 35 CB 88 SCALARWEIGHTEDFUNC 1.083 SUMFUNC 2 SIGMOID 9.9 3.846 CONSTANTFUNC -0.5
AtomPair CB 99 CB 118 SCALARWEIGHTEDFUNC 1.047 SUMFUNC 2 SIGMOID 7.404 1.961 CONSTANTFUNC -0.5
AtomPair CB 115 CB 123 SCALARWEIGHTEDFUNC 1.045 SUMFUNC 2 SIGMOID 7.642 5.263 CONSTANTFUNC -0.5
AtomPair CB 39 CB 71 SCALARWEIGHTEDFUNC 1.034 SUMFUNC 2 SIGMOID 7.672 2.967 CONSTANTFUNC -0.5
AtomPair CB 110 CB 113 SCALARWEIGHTEDFUNC 1.033 SUMFUNC 2 SIGMOID 8.247 2.577 CONSTANTFUNC -0.5
AtomPair CB 120 CB 123 SCALARWEIGHTEDFUNC 1.029 SUMFUNC 2 SIGMOID 8.715 2.155 CONSTANTFUNC -0.5
AtomPair CB 63 CB 66 SCALARWEIGHTEDFUNC 1.026 SUMFUNC 2 SIGMOID 10.713 2.755 CONSTANTFUNC -0.5
AtomPair CB 45 CB 49 SCALARWEIGHTEDFUNC 1.025 SUMFUNC 2 SIGMOID 6.971 3.257 CONSTANTFUNC -0.5
AtomPair CB 34 CB 37 SCALARWEIGHTEDFUNC 1.016 SUMFUNC 2 SIGMOID 6.985 3.344 CONSTANTFUNC -0.5
AtomPair CB 21 CB 46 SCALARWEIGHTEDFUNC 1.013 SUMFUNC 2 SIGMOID 6.707 4.000 CONSTANTFUNC -0.5
AtomPair CB 99 CB 123 SCALARWEIGHTEDFUNC 1.007 SUMFUNC 2 SIGMOID 6.791 7.246 CONSTANTFUNC -0.5
AtomPair CB 137 CB 155 SCALARWEIGHTEDFUNC 1.003 SUMFUNC 2 SIGMOID 9.965 1.976 CONSTANTFUNC -0.5
