# QUERY MVGLTTLFWLGAIGMLVGTLAFAWAGRDAGSGERRYYVTLVGISGIAAVAYAVMALGVGWVPVAERTVFVPRYIDWILTTPLIVYFLGLLAGLDSREFGI
# MATCH ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
# INPUT MVGLTTLFWLGAIGMLVGTLAFAWAGRDAGSGERRYYVTLVGISGIAAVAYAVMALGVGWVPVAERTVFVPRYIDWILTTPLIVYFLGLLAGLDSREFGI

# QUERY VITLNTVVMLAGFAGAMVPGIERYALFGMGAVAFIGLVYYLVGPMTESASQRSSGIKSLYVRLRNLTVVLWAIYPFIWLLGPPGVALLTPTVDVALIVYL
# MATCH ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
# INPUT VITLNTVVMLAGFAGAMVPGIERYALFGMGAVAFIGLVYYLVGPMTESASQRSSGIKSLYVRLRNLTVVLWAIYPFIWLLGPPGVALLTPTVDVALIVYL

# QUERY DLVTKVGFGFIALDAAATL
# MATCH |||||||||||||||||||
# INPUT DLVTKVGFGFIALDAAATL

AtomPair CB 46 CB 78 SCALARWEIGHTEDFUNC 4.439 SUMFUNC 2 SIGMOID 8.342 3.831 CONSTANTFUNC -0.5
AtomPair CB 75 CB 205 SCALARWEIGHTEDFUNC 2.427 SUMFUNC 2 SIGMOID 9.306 2.915 CONSTANTFUNC -0.5
AtomPair CA 14 CB 202 SCALARWEIGHTEDFUNC 2.319 SUMFUNC 2 SIGMOID 6.554 8.000 CONSTANTFUNC -0.5
AtomPair CB 80 CB 105 SCALARWEIGHTEDFUNC 2.200 SUMFUNC 2 SIGMOID 7.159 3.817 CONSTANTFUNC -0.5
AtomPair CB 9 CB 55 SCALARWEIGHTEDFUNC 2.172 SUMFUNC 2 SIGMOID 9.252 3.448 CONSTANTFUNC -0.5
AtomPair CB 22 CA 209 SCALARWEIGHTEDFUNC 1.959 SUMFUNC 2 SIGMOID 7.966 4.566 CONSTANTFUNC -0.5
AtomPair CB 79 CB 82 SCALARWEIGHTEDFUNC 1.912 SUMFUNC 2 SIGMOID 7.642 5.263 CONSTANTFUNC -0.5
AtomPair CB 60 CB 69 SCALARWEIGHTEDFUNC 1.792 SUMFUNC 2 SIGMOID 11.758 2.237 CONSTANTFUNC -0.5
AtomPair CB 53 CB 126 SCALARWEIGHTEDFUNC 1.713 SUMFUNC 2 SIGMOID 7.633 5.587 CONSTANTFUNC -0.5
AtomPair CB 79 CB 205 SCALARWEIGHTEDFUNC 1.702 SUMFUNC 2 SIGMOID 8.715 2.155 CONSTANTFUNC -0.5
AtomPair CB 75 CB 79 SCALARWEIGHTEDFUNC 1.681 SUMFUNC 2 SIGMOID 6.971 3.257 CONSTANTFUNC -0.5
AtomPair CB 178 CA 184 SCALARWEIGHTEDFUNC 1.623 SUMFUNC 2 SIGMOID 8.966 4.184 CONSTANTFUNC -0.5
AtomPair CB 47 CB 75 SCALARWEIGHTEDFUNC 1.611 SUMFUNC 2 SIGMOID 6.388 3.460 CONSTANTFUNC -0.5
AtomPair CB 19 CB 44 SCALARWEIGHTEDFUNC 1.568 SUMFUNC 2 SIGMOID 6.45 4.673 CONSTANTFUNC -0.5
AtomPair CB 47 CB 83 SCALARWEIGHTEDFUNC 1.550 SUMFUNC 2 SIGMOID 6.587 4.673 CONSTANTFUNC -0.5
AtomPair CB 107 CB 133 SCALARWEIGHTEDFUNC 1.530 SUMFUNC 2 SIGMOID 5.854 3.205 CONSTANTFUNC -0.5
AtomPair CB 50 CB 54 SCALARWEIGHTEDFUNC 1.529 SUMFUNC 2 SIGMOID 7.605 2.538 CONSTANTFUNC -0.5
AtomPair CB 108 CA 112 SCALARWEIGHTEDFUNC 1.490 SUMFUNC 2 SIGMOID 5.671 9.346 CONSTANTFUNC -0.5
AtomPair CB 105 CB 108 SCALARWEIGHTEDFUNC 1.454 SUMFUNC 2 SIGMOID 7.219 4.310 CONSTANTFUNC -0.5
AtomPair CB 183 CB 193 SCALARWEIGHTEDFUNC 1.451 SUMFUNC 2 SIGMOID 7.321 2.404 CONSTANTFUNC -0.5
AtomPair CB 80 CB 108 SCALARWEIGHTEDFUNC 1.445 SUMFUNC 2 SIGMOID 6.791 7.246 CONSTANTFUNC -0.5
AtomPair CB 178 CB 200 SCALARWEIGHTEDFUNC 1.445 SUMFUNC 2 SIGMOID 10.707 3.021 CONSTANTFUNC -0.5
AtomPair CA 112 CB 205 SCALARWEIGHTEDFUNC 1.442 SUMFUNC 2 SIGMOID 8.216 2.793 CONSTANTFUNC -0.5
AtomPair CB 178 CB 193 SCALARWEIGHTEDFUNC 1.424 SUMFUNC 2 SIGMOID 9.867 2.105 CONSTANTFUNC -0.5
AtomPair CB 47 CB 205 SCALARWEIGHTEDFUNC 1.376 SUMFUNC 2 SIGMOID 8.327 1.818 CONSTANTFUNC -0.5
AtomPair CA 18 CB 206 SCALARWEIGHTEDFUNC 1.352 SUMFUNC 2 SIGMOID 5.671 9.346 CONSTANTFUNC -0.5
AtomPair CB 79 CA 112 SCALARWEIGHTEDFUNC 1.329 SUMFUNC 2 SIGMOID 5.619 8.333 CONSTANTFUNC -0.5
AtomPair CB 40 CB 86 SCALARWEIGHTEDFUNC 1.327 SUMFUNC 2 SIGMOID 9.9 3.846 CONSTANTFUNC -0.5
AtomPair CB 50 CB 116 SCALARWEIGHTEDFUNC 1.327 SUMFUNC 2 SIGMOID 5.381 3.817 CONSTANTFUNC -0.5
AtomPair CB 16 CB 48 SCALARWEIGHTEDFUNC 1.315 SUMFUNC 2 SIGMOID 6.707 4.000 CONSTANTFUNC -0.5
AtomPair CB 76 CA 112 SCALARWEIGHTEDFUNC 1.304 SUMFUNC 2 SIGMOID 8.966 4.184 CONSTANTFUNC -0.5
AtomPair CB 153 CB 157 SCALARWEIGHTEDFUNC 1.292 SUMFUNC 2 SIGMOID 8.792 2.247 CONSTANTFUNC -0.5
AtomPair CB 70 CB 74 SCALARWEIGHTEDFUNC 1.291 SUMFUNC 2 SIGMOID 7.441 4.132 CONSTANTFUNC -0.5
AtomPair CB 105 CB 109 SCALARWEIGHTEDFUNC 1.290 SUMFUNC 2 SIGMOID 8.55 3.226 CONSTANTFUNC -0.5
AtomPair CB 40 CA 209 SCALARWEIGHTEDFUNC 1.284 SUMFUNC 2 SIGMOID 6.554 8.000 CONSTANTFUNC -0.5
AtomPair CB 76 CB 174 SCALARWEIGHTEDFUNC 1.275 SUMFUNC 2 SIGMOID 11.807 1.462 CONSTANTFUNC -0.5
AtomPair CB 109 CB 205 SCALARWEIGHTEDFUNC 1.267 SUMFUNC 2 SIGMOID 9.096 1.637 CONSTANTFUNC -0.5
AtomPair CB 188 CB 195 SCALARWEIGHTEDFUNC 1.253 SUMFUNC 2 SIGMOID 6.707 4.000 CONSTANTFUNC -0.5
AtomPair CB 23 CB 41 SCALARWEIGHTEDFUNC 1.241 SUMFUNC 2 SIGMOID 5.854 3.205 CONSTANTFUNC -0.5
AtomPair CB 80 CB 205 SCALARWEIGHTEDFUNC 1.228 SUMFUNC 2 SIGMOID 8.715 2.155 CONSTANTFUNC -0.5
AtomPair CB 51 CB 82 SCALARWEIGHTEDFUNC 1.218 SUMFUNC 2 SIGMOID 9.889 1.637 CONSTANTFUNC -0.5
AtomPair CB 76 CB 81 SCALARWEIGHTEDFUNC 1.216 SUMFUNC 2 SIGMOID 9.719 2.165 CONSTANTFUNC -0.5
AtomPair CB 73 CB 76 SCALARWEIGHTEDFUNC 1.212 SUMFUNC 2 SIGMOID 11.807 1.462 CONSTANTFUNC -0.5
AtomPair CB 171 CB 205 SCALARWEIGHTEDFUNC 1.210 SUMFUNC 2 SIGMOID 10.136 2.128 CONSTANTFUNC -0.5
AtomPair CB 75 CB 82 SCALARWEIGHTEDFUNC 1.209 SUMFUNC 2 SIGMOID 7.696 2.874 CONSTANTFUNC -0.5
AtomPair CB 77 CB 106 SCALARWEIGHTEDFUNC 1.195 SUMFUNC 2 SIGMOID 7.442 3.861 CONSTANTFUNC -0.5
AtomPair CA 115 CB 178 SCALARWEIGHTEDFUNC 1.195 SUMFUNC 2 SIGMOID 8.966 4.184 CONSTANTFUNC -0.5
AtomPair CB 111 CB 204 SCALARWEIGHTEDFUNC 1.186 SUMFUNC 2 SIGMOID 5.982 2.646 CONSTANTFUNC -0.5
AtomPair CB 117 CB 183 SCALARWEIGHTEDFUNC 1.182 SUMFUNC 2 SIGMOID 8.247 2.577 CONSTANTFUNC -0.5
AtomPair CB 61 CB 117 SCALARWEIGHTEDFUNC 1.181 SUMFUNC 2 SIGMOID 8.335 3.390 CONSTANTFUNC -0.5
AtomPair CB 121 CA 128 SCALARWEIGHTEDFUNC 1.179 SUMFUNC 2 SIGMOID 6.413 5.587 CONSTANTFUNC -0.5
AtomPair CB 142 CB 199 SCALARWEIGHTEDFUNC 1.178 SUMFUNC 2 SIGMOID 9.442 1.869 CONSTANTFUNC -0.5
AtomPair CB 67 CB 190 SCALARWEIGHTEDFUNC 1.178 SUMFUNC 2 SIGMOID 7.062 3.125 CONSTANTFUNC -0.5
AtomPair CA 11 CB 206 SCALARWEIGHTEDFUNC 1.175 SUMFUNC 2 SIGMOID 5.671 9.346 CONSTANTFUNC -0.5
AtomPair CA 11 CB 106 SCALARWEIGHTEDFUNC 1.175 SUMFUNC 2 SIGMOID 5.619 8.333 CONSTANTFUNC -0.5
AtomPair CB 8 CB 135 SCALARWEIGHTEDFUNC 1.172 SUMFUNC 2 SIGMOID 9.602 2.882 CONSTANTFUNC -0.5
AtomPair CB 85 CB 102 SCALARWEIGHTEDFUNC 1.171 SUMFUNC 2 SIGMOID 9.719 1.698 CONSTANTFUNC -0.5
AtomPair CB 180 CB 188 SCALARWEIGHTEDFUNC 1.170 SUMFUNC 2 SIGMOID 8.522 5.051 CONSTANTFUNC -0.5
AtomPair CB 80 CB 200 SCALARWEIGHTEDFUNC 1.169 SUMFUNC 2 SIGMOID 7.642 5.263 CONSTANTFUNC -0.5
AtomPair CA 11 CB 15 SCALARWEIGHTEDFUNC 1.169 SUMFUNC 2 SIGMOID 7.383 3.922 CONSTANTFUNC -0.5
AtomPair CB 80 CA 112 SCALARWEIGHTEDFUNC 1.169 SUMFUNC 2 SIGMOID 5.619 8.333 CONSTANTFUNC -0.5
AtomPair CB 135 CB 165 SCALARWEIGHTEDFUNC 1.168 SUMFUNC 2 SIGMOID 7.631 2.933 CONSTANTFUNC -0.5
AtomPair CB 73 CB 208 SCALARWEIGHTEDFUNC 1.167 SUMFUNC 2 SIGMOID 10.999 1.304 CONSTANTFUNC -0.5
AtomPair CB 47 CB 82 SCALARWEIGHTEDFUNC 1.166 SUMFUNC 2 SIGMOID 6.707 4.000 CONSTANTFUNC -0.5
AtomPair CB 117 CB 132 SCALARWEIGHTEDFUNC 1.166 SUMFUNC 2 SIGMOID 8.335 3.390 CONSTANTFUNC -0.5
AtomPair CB 31 CB 168 SCALARWEIGHTEDFUNC 1.162 SUMFUNC 2 SIGMOID 6.567 4.878 CONSTANTFUNC -0.5
AtomPair CB 47 CB 108 SCALARWEIGHTEDFUNC 1.158 SUMFUNC 2 SIGMOID 5.854 3.205 CONSTANTFUNC -0.5
AtomPair CB 20 CA 45 SCALARWEIGHTEDFUNC 1.140 SUMFUNC 2 SIGMOID 6.554 8.000 CONSTANTFUNC -0.5
AtomPair CB 16 CA 45 SCALARWEIGHTEDFUNC 1.135 SUMFUNC 2 SIGMOID 6.554 8.000 CONSTANTFUNC -0.5
AtomPair CB 158 CB 162 SCALARWEIGHTEDFUNC 1.131 SUMFUNC 2 SIGMOID 9.753 2.070 CONSTANTFUNC -0.5
AtomPair CB 43 CB 82 SCALARWEIGHTEDFUNC 1.125 SUMFUNC 2 SIGMOID 8.342 3.831 CONSTANTFUNC -0.5
AtomPair CB 9 CB 12 SCALARWEIGHTEDFUNC 1.115 SUMFUNC 2 SIGMOID 9.252 3.448 CONSTANTFUNC -0.5
AtomPair CB 43 CB 79 SCALARWEIGHTEDFUNC 1.112 SUMFUNC 2 SIGMOID 7.442 3.861 CONSTANTFUNC -0.5
AtomPair CB 142 CB 168 SCALARWEIGHTEDFUNC 1.112 SUMFUNC 2 SIGMOID 6.759 6.897 CONSTANTFUNC -0.5
AtomPair CB 75 CB 80 SCALARWEIGHTEDFUNC 1.111 SUMFUNC 2 SIGMOID 6.971 3.257 CONSTANTFUNC -0.5
AtomPair CB 40 CB 137 SCALARWEIGHTEDFUNC 1.108 SUMFUNC 2 SIGMOID 8.522 5.051 CONSTANTFUNC -0.5
AtomPair CB 47 CB 80 SCALARWEIGHTEDFUNC 1.108 SUMFUNC 2 SIGMOID 5.982 2.646 CONSTANTFUNC -0.5
AtomPair CB 82 CB 175 SCALARWEIGHTEDFUNC 1.107 SUMFUNC 2 SIGMOID 7.751 3.155 CONSTANTFUNC -0.5
AtomPair CB 113 CB 117 SCALARWEIGHTEDFUNC 1.103 SUMFUNC 2 SIGMOID 10.253 2.653 CONSTANTFUNC -0.5
AtomPair CB 19 CA 45 SCALARWEIGHTEDFUNC 1.095 SUMFUNC 2 SIGMOID 5.619 8.333 CONSTANTFUNC -0.5
AtomPair CB 39 CB 82 SCALARWEIGHTEDFUNC 1.090 SUMFUNC 2 SIGMOID 7.642 5.263 CONSTANTFUNC -0.5
AtomPair CB 12 CB 52 SCALARWEIGHTEDFUNC 1.089 SUMFUNC 2 SIGMOID 5.381 3.817 CONSTANTFUNC -0.5
AtomPair CA 128 CB 191 SCALARWEIGHTEDFUNC 1.088 SUMFUNC 2 SIGMOID 5.619 8.333 CONSTANTFUNC -0.5
AtomPair CB 79 CB 204 SCALARWEIGHTEDFUNC 1.087 SUMFUNC 2 SIGMOID 6.676 5.319 CONSTANTFUNC -0.5
AtomPair CB 107 CB 127 SCALARWEIGHTEDFUNC 1.085 SUMFUNC 2 SIGMOID 9.057 4.065 CONSTANTFUNC -0.5
AtomPair CB 73 CB 81 SCALARWEIGHTEDFUNC 1.084 SUMFUNC 2 SIGMOID 9.965 1.976 CONSTANTFUNC -0.5
AtomPair CB 17 CB 202 SCALARWEIGHTEDFUNC 1.072 SUMFUNC 2 SIGMOID 7.633 5.587 CONSTANTFUNC -0.5
AtomPair CB 60 CB 67 SCALARWEIGHTEDFUNC 1.063 SUMFUNC 2 SIGMOID 9.98 3.175 CONSTANTFUNC -0.5
AtomPair CB 122 CB 186 SCALARWEIGHTEDFUNC 1.054 SUMFUNC 2 SIGMOID 7.124 2.941 CONSTANTFUNC -0.5
AtomPair CB 185 CB 188 SCALARWEIGHTEDFUNC 1.050 SUMFUNC 2 SIGMOID 7.633 5.587 CONSTANTFUNC -0.5
AtomPair CB 80 CB 170 SCALARWEIGHTEDFUNC 1.049 SUMFUNC 2 SIGMOID 7.642 5.263 CONSTANTFUNC -0.5
AtomPair CB 37 CB 94 SCALARWEIGHTEDFUNC 1.046 SUMFUNC 2 SIGMOID 9.979 1.479 CONSTANTFUNC -0.5
AtomPair CB 87 CB 146 SCALARWEIGHTEDFUNC 1.040 SUMFUNC 2 SIGMOID 7.642 5.263 CONSTANTFUNC -0.5
AtomPair CB 116 CB 178 SCALARWEIGHTEDFUNC 1.038 SUMFUNC 2 SIGMOID 9.252 3.448 CONSTANTFUNC -0.5
AtomPair CB 20 CB 23 SCALARWEIGHTEDFUNC 1.036 SUMFUNC 2 SIGMOID 6.707 4.000 CONSTANTFUNC -0.5
AtomPair CB 54 CB 72 SCALARWEIGHTEDFUNC 1.033 SUMFUNC 2 SIGMOID 10.25 1.560 CONSTANTFUNC -0.5
AtomPair CB 47 CB 79 SCALARWEIGHTEDFUNC 1.028 SUMFUNC 2 SIGMOID 5.982 2.646 CONSTANTFUNC -0.5
AtomPair CB 43 CB 50 SCALARWEIGHTEDFUNC 1.026 SUMFUNC 2 SIGMOID 6.587 4.673 CONSTANTFUNC -0.5
AtomPair CB 79 CB 105 SCALARWEIGHTEDFUNC 1.025 SUMFUNC 2 SIGMOID 7.159 3.817 CONSTANTFUNC -0.5
AtomPair CB 44 CA 209 SCALARWEIGHTEDFUNC 1.025 SUMFUNC 2 SIGMOID 5.51 6.536 CONSTANTFUNC -0.5
AtomPair CB 47 CB 141 SCALARWEIGHTEDFUNC 1.022 SUMFUNC 2 SIGMOID 6.707 4.000 CONSTANTFUNC -0.5
AtomPair CB 86 CB 212 SCALARWEIGHTEDFUNC 1.021 SUMFUNC 2 SIGMOID 8.162 3.846 CONSTANTFUNC -0.5
AtomPair CA 115 CA 136 SCALARWEIGHTEDFUNC 1.016 SUMFUNC 2 SIGMOID 4.467 58.824 CONSTANTFUNC -0.5
AtomPair CB 58 CB 122 SCALARWEIGHTEDFUNC 1.015 SUMFUNC 2 SIGMOID 7.404 1.961 CONSTANTFUNC -0.5
AtomPair CB 73 CB 105 SCALARWEIGHTEDFUNC 1.010 SUMFUNC 2 SIGMOID 10.039 1.706 CONSTANTFUNC -0.5
AtomPair CA 18 CB 210 SCALARWEIGHTEDFUNC 1.009 SUMFUNC 2 SIGMOID 7.966 4.566 CONSTANTFUNC -0.5
AtomPair CB 43 CB 163 SCALARWEIGHTEDFUNC 1.008 SUMFUNC 2 SIGMOID 8.342 3.831 CONSTANTFUNC -0.5
AtomPair CB 15 CA 112 SCALARWEIGHTEDFUNC 1.007 SUMFUNC 2 SIGMOID 7.383 3.922 CONSTANTFUNC -0.5
AtomPair CB 84 CA 128 SCALARWEIGHTEDFUNC 1.004 SUMFUNC 2 SIGMOID 5.671 9.346 CONSTANTFUNC -0.5
