# QUERY QPAKKTYTWNTKEEAKQAFKELLKEKRVPSNASWEQAMKMIINDPRYSALAKLSEKKQAFNAYKVQTEK
# MATCH |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
# INPUT QPAKKTYTWNTKEEAKQAFKELLKEKRVPSNASWEQAMKMIINDPRYSALAKLSEKKQAFNAYKVQTEK

AtomPair CB 38 CB 42 SCALARWEIGHTEDFUNC 2.364 SUMFUNC 2 SIGMOID 8.874 3.058 CONSTANTFUNC -0.5
AtomPair CB 14 CB 41 SCALARWEIGHTEDFUNC 2.283 SUMFUNC 2 SIGMOID 7.949 2.208 CONSTANTFUNC -0.5
AtomPair CB 28 CB 32 SCALARWEIGHTEDFUNC 2.020 SUMFUNC 2 SIGMOID 5.854 3.205 CONSTANTFUNC -0.5
AtomPair CB 19 CB 23 SCALARWEIGHTEDFUNC 1.915 SUMFUNC 2 SIGMOID 9.9 3.846 CONSTANTFUNC -0.5
AtomPair CB 24 CB 45 SCALARWEIGHTEDFUNC 1.831 SUMFUNC 2 SIGMOID 9.198 1.818 CONSTANTFUNC -0.5
AtomPair CB 16 CB 62 SCALARWEIGHTEDFUNC 1.579 SUMFUNC 2 SIGMOID 8.327 1.818 CONSTANTFUNC -0.5
AtomPair CB 43 CB 46 SCALARWEIGHTEDFUNC 1.462 SUMFUNC 2 SIGMOID 10.135 2.688 CONSTANTFUNC -0.5
AtomPair CB 38 CB 50 SCALARWEIGHTEDFUNC 1.451 SUMFUNC 2 SIGMOID 9.122 3.145 CONSTANTFUNC -0.5
AtomPair CB 27 CB 42 SCALARWEIGHTEDFUNC 1.425 SUMFUNC 2 SIGMOID 9.746 1.795 CONSTANTFUNC -0.5
AtomPair CB 37 CB 43 SCALARWEIGHTEDFUNC 1.424 SUMFUNC 2 SIGMOID 6.766 2.865 CONSTANTFUNC -0.5
AtomPair CB 39 CB 65 SCALARWEIGHTEDFUNC 1.401 SUMFUNC 2 SIGMOID 8.077 1.577 CONSTANTFUNC -0.5
AtomPair CB 26 CB 52 SCALARWEIGHTEDFUNC 1.380 SUMFUNC 2 SIGMOID 10.662 1.355 CONSTANTFUNC -0.5
AtomPair CB 29 CB 39 SCALARWEIGHTEDFUNC 1.337 SUMFUNC 2 SIGMOID 9.198 1.818 CONSTANTFUNC -0.5
AtomPair CB 58 CB 61 SCALARWEIGHTEDFUNC 1.323 SUMFUNC 2 SIGMOID 8.502 2.681 CONSTANTFUNC -0.5
AtomPair CB 22 CB 41 SCALARWEIGHTEDFUNC 1.306 SUMFUNC 2 SIGMOID 8.342 3.831 CONSTANTFUNC -0.5
AtomPair CB 42 CB 47 SCALARWEIGHTEDFUNC 1.252 SUMFUNC 2 SIGMOID 9.719 1.698 CONSTANTFUNC -0.5
AtomPair CB 30 CB 55 SCALARWEIGHTEDFUNC 1.236 SUMFUNC 2 SIGMOID 7.483 2.242 CONSTANTFUNC -0.5
AtomPair CB 38 CB 47 SCALARWEIGHTEDFUNC 1.215 SUMFUNC 2 SIGMOID 10.4 1.513 CONSTANTFUNC -0.5
AtomPair CB 12 CB 55 SCALARWEIGHTEDFUNC 1.202 SUMFUNC 2 SIGMOID 9.842 2.304 CONSTANTFUNC -0.5
AtomPair CB 28 CB 35 SCALARWEIGHTEDFUNC 1.187 SUMFUNC 2 SIGMOID 7.404 1.961 CONSTANTFUNC -0.5
AtomPair CB 41 CB 47 SCALARWEIGHTEDFUNC 1.186 SUMFUNC 2 SIGMOID 9.719 1.698 CONSTANTFUNC -0.5
AtomPair CB 56 CB 66 SCALARWEIGHTEDFUNC 1.144 SUMFUNC 2 SIGMOID 9.667 1.919 CONSTANTFUNC -0.5
AtomPair CB 56 CB 59 SCALARWEIGHTEDFUNC 1.142 SUMFUNC 2 SIGMOID 8.327 1.818 CONSTANTFUNC -0.5
AtomPair CB 57 CB 61 SCALARWEIGHTEDFUNC 1.131 SUMFUNC 2 SIGMOID 9.319 2.513 CONSTANTFUNC -0.5
AtomPair CB 14 CB 44 SCALARWEIGHTEDFUNC 1.121 SUMFUNC 2 SIGMOID 8.945 2.825 CONSTANTFUNC -0.5
AtomPair CB 33 CB 60 SCALARWEIGHTEDFUNC 1.094 SUMFUNC 2 SIGMOID 8.694 2.538 CONSTANTFUNC -0.5
AtomPair CB 13 CB 35 SCALARWEIGHTEDFUNC 1.083 SUMFUNC 2 SIGMOID 9.863 2.571 CONSTANTFUNC -0.5
AtomPair CB 38 CB 49 SCALARWEIGHTEDFUNC 1.071 SUMFUNC 2 SIGMOID 7.605 2.538 CONSTANTFUNC -0.5
AtomPair CB 25 CB 46 SCALARWEIGHTEDFUNC 1.057 SUMFUNC 2 SIGMOID 10.713 2.755 CONSTANTFUNC -0.5
AtomPair CB 52 CB 56 SCALARWEIGHTEDFUNC 1.048 SUMFUNC 2 SIGMOID 10.662 1.355 CONSTANTFUNC -0.5
AtomPair CB 18 CB 26 SCALARWEIGHTEDFUNC 1.048 SUMFUNC 2 SIGMOID 8.327 1.818 CONSTANTFUNC -0.5
AtomPair CB 22 CB 31 SCALARWEIGHTEDFUNC 1.038 SUMFUNC 2 SIGMOID 7.889 3.584 CONSTANTFUNC -0.5
AtomPair CB 34 CB 66 SCALARWEIGHTEDFUNC 1.038 SUMFUNC 2 SIGMOID 10.429 2.041 CONSTANTFUNC -0.5
AtomPair CB 27 CB 45 SCALARWEIGHTEDFUNC 1.023 SUMFUNC 2 SIGMOID 10.266 1.976 CONSTANTFUNC -0.5
AtomPair CB 36 CB 53 SCALARWEIGHTEDFUNC 1.015 SUMFUNC 2 SIGMOID 8.48 2.433 CONSTANTFUNC -0.5
