# QUERY LKTEWPELVGKSVEEAKKVILQDKPEAQIIVLPVGTIVTMEYRIDRVRLFVDKLDNIAQVVRVG
# MATCH ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
# INPUT LKTEWPELVGKSVEEAKKVILQDKPEAQIIVLPVGTIVTMEYRIDRVRLFVDKLDNIAQVVRVG

AtomPair CB 39 CB 48 SCALARWEIGHTEDFUNC 2.816 SUMFUNC 2 SIGMOID 9.764 2.096 CONSTANTFUNC -0.5
AtomPair CB 8 CB 11 SCALARWEIGHTEDFUNC 2.114 SUMFUNC 2 SIGMOID 8.479 1.692 CONSTANTFUNC -0.5
AtomPair CB 9 CB 60 SCALARWEIGHTEDFUNC 1.972 SUMFUNC 2 SIGMOID 6.759 6.897 CONSTANTFUNC -0.5
AtomPair CB 32 CB 38 SCALARWEIGHTEDFUNC 1.918 SUMFUNC 2 SIGMOID 7.633 5.587 CONSTANTFUNC -0.5
AtomPair CB 24 CB 44 SCALARWEIGHTEDFUNC 1.792 SUMFUNC 2 SIGMOID 8.329 1.718 CONSTANTFUNC -0.5
AtomPair CA 35 CB 50 SCALARWEIGHTEDFUNC 1.595 SUMFUNC 2 SIGMOID 7.966 4.566 CONSTANTFUNC -0.5
AtomPair CB 13 CB 29 SCALARWEIGHTEDFUNC 1.435 SUMFUNC 2 SIGMOID 7.441 4.132 CONSTANTFUNC -0.5
AtomPair CB 34 CB 58 SCALARWEIGHTEDFUNC 1.418 SUMFUNC 2 SIGMOID 5.854 3.205 CONSTANTFUNC -0.5
AtomPair CB 8 CB 49 SCALARWEIGHTEDFUNC 1.409 SUMFUNC 2 SIGMOID 8.522 5.051 CONSTANTFUNC -0.5
AtomPair CB 30 CB 48 SCALARWEIGHTEDFUNC 1.323 SUMFUNC 2 SIGMOID 9.746 1.795 CONSTANTFUNC -0.5
AtomPair CB 41 CB 48 SCALARWEIGHTEDFUNC 1.322 SUMFUNC 2 SIGMOID 10.713 2.755 CONSTANTFUNC -0.5
AtomPair CB 38 CB 48 SCALARWEIGHTEDFUNC 1.315 SUMFUNC 2 SIGMOID 9.513 1.946 CONSTANTFUNC -0.5
AtomPair CB 24 CB 27 SCALARWEIGHTEDFUNC 1.307 SUMFUNC 2 SIGMOID 8.327 1.818 CONSTANTFUNC -0.5
AtomPair CB 2 CB 7 SCALARWEIGHTEDFUNC 1.267 SUMFUNC 2 SIGMOID 9.842 2.304 CONSTANTFUNC -0.5
AtomPair CB 2 CB 57 SCALARWEIGHTEDFUNC 1.203 SUMFUNC 2 SIGMOID 8.329 1.718 CONSTANTFUNC -0.5
AtomPair CB 3 CB 63 SCALARWEIGHTEDFUNC 1.199 SUMFUNC 2 SIGMOID 6.791 7.246 CONSTANTFUNC -0.5
AtomPair CB 29 CB 49 SCALARWEIGHTEDFUNC 1.198 SUMFUNC 2 SIGMOID 8.342 3.831 CONSTANTFUNC -0.5
AtomPair CB 8 CB 44 SCALARWEIGHTEDFUNC 1.160 SUMFUNC 2 SIGMOID 8.342 3.831 CONSTANTFUNC -0.5
AtomPair CB 9 CB 54 SCALARWEIGHTEDFUNC 1.143 SUMFUNC 2 SIGMOID 7.633 5.587 CONSTANTFUNC -0.5
AtomPair CB 13 CB 51 SCALARWEIGHTEDFUNC 1.137 SUMFUNC 2 SIGMOID 6.759 6.897 CONSTANTFUNC -0.5
AtomPair CB 7 CB 60 SCALARWEIGHTEDFUNC 1.131 SUMFUNC 2 SIGMOID 7.404 1.961 CONSTANTFUNC -0.5
AtomPair CB 34 CB 49 SCALARWEIGHTEDFUNC 1.129 SUMFUNC 2 SIGMOID 7.633 5.587 CONSTANTFUNC -0.5
AtomPair CB 32 CA 35 SCALARWEIGHTEDFUNC 1.125 SUMFUNC 2 SIGMOID 6.554 8.000 CONSTANTFUNC -0.5
AtomPair CB 37 CB 52 SCALARWEIGHTEDFUNC 1.098 SUMFUNC 2 SIGMOID 7.472 2.933 CONSTANTFUNC -0.5
AtomPair CB 50 CB 55 SCALARWEIGHTEDFUNC 1.096 SUMFUNC 2 SIGMOID 9.111 2.849 CONSTANTFUNC -0.5
AtomPair CB 42 CB 53 SCALARWEIGHTEDFUNC 1.084 SUMFUNC 2 SIGMOID 10.627 1.420 CONSTANTFUNC -0.5
AtomPair CB 4 CB 49 SCALARWEIGHTEDFUNC 1.078 SUMFUNC 2 SIGMOID 8.077 2.105 CONSTANTFUNC -0.5
AtomPair CB 23 CB 44 SCALARWEIGHTEDFUNC 1.070 SUMFUNC 2 SIGMOID 7.472 2.933 CONSTANTFUNC -0.5
AtomPair CB 37 CB 40 SCALARWEIGHTEDFUNC 1.060 SUMFUNC 2 SIGMOID 8.874 3.058 CONSTANTFUNC -0.5
AtomPair CB 39 CB 43 SCALARWEIGHTEDFUNC 1.043 SUMFUNC 2 SIGMOID 9.764 2.096 CONSTANTFUNC -0.5
AtomPair CB 40 CB 62 SCALARWEIGHTEDFUNC 1.036 SUMFUNC 2 SIGMOID 10.25 1.560 CONSTANTFUNC -0.5
AtomPair CB 36 CB 43 SCALARWEIGHTEDFUNC 1.017 SUMFUNC 2 SIGMOID 9.764 2.096 CONSTANTFUNC -0.5
AtomPair CB 21 CB 24 SCALARWEIGHTEDFUNC 1.010 SUMFUNC 2 SIGMOID 8.479 1.692 CONSTANTFUNC -0.5
AtomPair CB 17 CB 21 SCALARWEIGHTEDFUNC 1.005 SUMFUNC 2 SIGMOID 8.479 1.692 CONSTANTFUNC -0.5
