# QUERY AQSVPWGISRVQAPAAHNRGLTGSGVKVAVLDTGISTHPDLNIRGGASFVPGEPSTQDGNGHGTHVAGTIAALNNSIGVLGVAPSAELYAVKVLGASGSG
# MATCH ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
# INPUT AQSVPWGISRVQAPAAHNRGLTGSGVKVAVLDTGISTHPDLNIRGGASFVPGEPSTQDGNGHGTHVAGTIAALNNSIGVLGVAPSAELYAVKVLGASGSG

# QUERY SVSSIAQGLEWAGNNGMHVANLSLGSPSPSATLEQAVNSATSRGVLVVAASGNSGAGSISYPARYANAMAVGATDQNNNRASFSQYGAGLDIVAPGVNVQ
# MATCH ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
# INPUT SVSSIAQGLEWAGNNGMHVANLSLGSPSPSATLEQAVNSATSRGVLVVAASGNSGAGSISYPARYANAMAVGATDQNNNRASFSQYGAGLDIVAPGVNVQ

# QUERY STYPGSTYASLNGTSMATPHVAGAAALVKQKNPSWSNVQIRNHLKNTATSLGSTNLYGSGLVNAEAATR
# MATCH |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
# INPUT STYPGSTYASLNGTSMATPHVAGAAALVKQKNPSWSNVQIRNHLKNTATSLGSTNLYGSGLVNAEAATR

AtomPair CB 22 CB 85 SCALARWEIGHTEDFUNC 2.933 SUMFUNC 2 SIGMOID 6.45 4.673 CONSTANTFUNC -0.5
AtomPair CB 224 CB 264 SCALARWEIGHTEDFUNC 2.922 SUMFUNC 2 SIGMOID 5.381 3.817 CONSTANTFUNC -0.5
AtomPair CA 172 CB 193 SCALARWEIGHTEDFUNC 2.722 SUMFUNC 2 SIGMOID 5.671 9.346 CONSTANTFUNC -0.5
AtomPair CB 28 CB 70 SCALARWEIGHTEDFUNC 2.685 SUMFUNC 2 SIGMOID 7.441 4.132 CONSTANTFUNC -0.5
AtomPair CB 65 CB 216 SCALARWEIGHTEDFUNC 2.683 SUMFUNC 2 SIGMOID 9.396 2.924 CONSTANTFUNC -0.5
AtomPair CB 249 CB 263 SCALARWEIGHTEDFUNC 2.598 SUMFUNC 2 SIGMOID 7.159 3.817 CONSTANTFUNC -0.5
AtomPair CB 121 CB 218 SCALARWEIGHTEDFUNC 2.538 SUMFUNC 2 SIGMOID 7.159 3.817 CONSTANTFUNC -0.5
AtomPair CB 173 CB 181 SCALARWEIGHTEDFUNC 2.513 SUMFUNC 2 SIGMOID 5.381 3.817 CONSTANTFUNC -0.5
AtomPair CB 94 CA 100 SCALARWEIGHTEDFUNC 2.443 SUMFUNC 2 SIGMOID 6.554 8.000 CONSTANTFUNC -0.5
AtomPair CB 24 CB 85 SCALARWEIGHTEDFUNC 2.436 SUMFUNC 2 SIGMOID 6.19 3.425 CONSTANTFUNC -0.5
AtomPair CB 181 CB 197 SCALARWEIGHTEDFUNC 2.383 SUMFUNC 2 SIGMOID 5.854 3.205 CONSTANTFUNC -0.5
AtomPair CB 224 CB 262 SCALARWEIGHTEDFUNC 2.273 SUMFUNC 2 SIGMOID 5.854 3.205 CONSTANTFUNC -0.5
AtomPair CB 203 CB 209 SCALARWEIGHTEDFUNC 2.247 SUMFUNC 2 SIGMOID 9.121 2.257 CONSTANTFUNC -0.5
AtomPair CA 68 CB 201 SCALARWEIGHTEDFUNC 2.211 SUMFUNC 2 SIGMOID 5.51 6.536 CONSTANTFUNC -0.5
AtomPair CB 27 CB 87 SCALARWEIGHTEDFUNC 2.110 SUMFUNC 2 SIGMOID 9.842 2.304 CONSTANTFUNC -0.5
AtomPair CB 69 CB 220 SCALARWEIGHTEDFUNC 2.092 SUMFUNC 2 SIGMOID 8.221 2.398 CONSTANTFUNC -0.5
AtomPair CB 66 CB 219 SCALARWEIGHTEDFUNC 2.072 SUMFUNC 2 SIGMOID 7.063 3.356 CONSTANTFUNC -0.5
AtomPair CB 183 CB 197 SCALARWEIGHTEDFUNC 2.070 SUMFUNC 2 SIGMOID 9.057 4.065 CONSTANTFUNC -0.5
AtomPair CB 66 CB 121 SCALARWEIGHTEDFUNC 2.057 SUMFUNC 2 SIGMOID 7.219 4.310 CONSTANTFUNC -0.5
AtomPair CB 91 CA 108 SCALARWEIGHTEDFUNC 1.946 SUMFUNC 2 SIGMOID 5.671 9.346 CONSTANTFUNC -0.5
AtomPair CB 173 CB 183 SCALARWEIGHTEDFUNC 1.941 SUMFUNC 2 SIGMOID 8.162 3.846 CONSTANTFUNC -0.5
AtomPair CB 173 CA 196 SCALARWEIGHTEDFUNC 1.933 SUMFUNC 2 SIGMOID 5.201 3.717 CONSTANTFUNC -0.5
AtomPair CB 91 CB 111 SCALARWEIGHTEDFUNC 1.919 SUMFUNC 2 SIGMOID 10.021 3.690 CONSTANTFUNC -0.5
AtomPair CB 65 CB 201 SCALARWEIGHTEDFUNC 1.919 SUMFUNC 2 SIGMOID 8.051 2.299 CONSTANTFUNC -0.5
AtomPair CB 163 CB 170 SCALARWEIGHTEDFUNC 1.896 SUMFUNC 2 SIGMOID 5.381 3.817 CONSTANTFUNC -0.5
AtomPair CA 68 CB 202 SCALARWEIGHTEDFUNC 1.895 SUMFUNC 2 SIGMOID 5.619 8.333 CONSTANTFUNC -0.5
AtomPair CB 203 CB 211 SCALARWEIGHTEDFUNC 1.886 SUMFUNC 2 SIGMOID 9.889 1.637 CONSTANTFUNC -0.5
AtomPair CB 30 CB 70 SCALARWEIGHTEDFUNC 1.873 SUMFUNC 2 SIGMOID 7.441 4.132 CONSTANTFUNC -0.5
AtomPair CB 27 CB 89 SCALARWEIGHTEDFUNC 1.864 SUMFUNC 2 SIGMOID 10.627 1.420 CONSTANTFUNC -0.5
AtomPair CB 146 CB 225 SCALARWEIGHTEDFUNC 1.841 SUMFUNC 2 SIGMOID 6.707 4.000 CONSTANTFUNC -0.5
AtomPair CB 247 CB 267 SCALARWEIGHTEDFUNC 1.819 SUMFUNC 2 SIGMOID 5.982 2.646 CONSTANTFUNC -0.5
AtomPair CA 59 CB 96 SCALARWEIGHTEDFUNC 1.806 SUMFUNC 2 SIGMOID 5.201 3.717 CONSTANTFUNC -0.5
AtomPair CB 58 CA 61 SCALARWEIGHTEDFUNC 1.796 SUMFUNC 2 SIGMOID 6.135 5.181 CONSTANTFUNC -0.5
AtomPair CB 236 CB 239 SCALARWEIGHTEDFUNC 1.792 SUMFUNC 2 SIGMOID 7.807 2.451 CONSTANTFUNC -0.5
AtomPair CB 218 CB 222 SCALARWEIGHTEDFUNC 1.792 SUMFUNC 2 SIGMOID 5.982 2.646 CONSTANTFUNC -0.5
AtomPair CB 110 CB 139 SCALARWEIGHTEDFUNC 1.736 SUMFUNC 2 SIGMOID 7.483 2.242 CONSTANTFUNC -0.5
AtomPair CB 118 CB 229 SCALARWEIGHTEDFUNC 1.668 SUMFUNC 2 SIGMOID 9.582 1.401 CONSTANTFUNC -0.5
AtomPair CB 82 CA 223 SCALARWEIGHTEDFUNC 1.657 SUMFUNC 2 SIGMOID 5.671 9.346 CONSTANTFUNC -0.5
AtomPair CB 89 CB 117 SCALARWEIGHTEDFUNC 1.642 SUMFUNC 2 SIGMOID 10.4 1.513 CONSTANTFUNC -0.5
AtomPair CB 31 CB 93 SCALARWEIGHTEDFUNC 1.637 SUMFUNC 2 SIGMOID 7.633 5.587 CONSTANTFUNC -0.5
AtomPair CB 71 CB 88 SCALARWEIGHTEDFUNC 1.607 SUMFUNC 2 SIGMOID 6.707 4.000 CONSTANTFUNC -0.5
AtomPair CB 232 CB 235 SCALARWEIGHTEDFUNC 1.600 SUMFUNC 2 SIGMOID 9.976 2.183 CONSTANTFUNC -0.5
AtomPair CB 29 CB 117 SCALARWEIGHTEDFUNC 1.600 SUMFUNC 2 SIGMOID 7.605 2.538 CONSTANTFUNC -0.5
AtomPair CB 121 CB 222 SCALARWEIGHTEDFUNC 1.597 SUMFUNC 2 SIGMOID 6.766 2.865 CONSTANTFUNC -0.5
AtomPair CB 72 CB 202 SCALARWEIGHTEDFUNC 1.591 SUMFUNC 2 SIGMOID 5.982 2.646 CONSTANTFUNC -0.5
AtomPair CB 28 CB 226 SCALARWEIGHTEDFUNC 1.580 SUMFUNC 2 SIGMOID 5.854 3.205 CONSTANTFUNC -0.5
AtomPair CB 175 CB 179 SCALARWEIGHTEDFUNC 1.576 SUMFUNC 2 SIGMOID 7.672 2.967 CONSTANTFUNC -0.5
AtomPair CB 148 CB 225 SCALARWEIGHTEDFUNC 1.560 SUMFUNC 2 SIGMOID 5.854 3.205 CONSTANTFUNC -0.5
AtomPair CB 146 CB 169 SCALARWEIGHTEDFUNC 1.560 SUMFUNC 2 SIGMOID 9.122 3.145 CONSTANTFUNC -0.5
AtomPair CB 148 CB 218 SCALARWEIGHTEDFUNC 1.544 SUMFUNC 2 SIGMOID 6.791 7.246 CONSTANTFUNC -0.5
AtomPair CB 211 CB 216 SCALARWEIGHTEDFUNC 1.537 SUMFUNC 2 SIGMOID 9.122 3.145 CONSTANTFUNC -0.5
AtomPair CB 10 CB 178 SCALARWEIGHTEDFUNC 1.521 SUMFUNC 2 SIGMOID 10.135 2.688 CONSTANTFUNC -0.5
AtomPair CB 131 CB 135 SCALARWEIGHTEDFUNC 1.509 SUMFUNC 2 SIGMOID 7.583 2.809 CONSTANTFUNC -0.5
AtomPair CA 113 CB 140 SCALARWEIGHTEDFUNC 1.502 SUMFUNC 2 SIGMOID 5.201 3.717 CONSTANTFUNC -0.5
AtomPair CB 65 CB 211 SCALARWEIGHTEDFUNC 1.498 SUMFUNC 2 SIGMOID 8.676 2.494 CONSTANTFUNC -0.5
AtomPair CB 229 CB 240 SCALARWEIGHTEDFUNC 1.492 SUMFUNC 2 SIGMOID 8.329 1.718 CONSTANTFUNC -0.5
AtomPair CB 138 CB 167 SCALARWEIGHTEDFUNC 1.484 SUMFUNC 2 SIGMOID 7.682 4.016 CONSTANTFUNC -0.5
AtomPair CB 22 CB 230 SCALARWEIGHTEDFUNC 1.481 SUMFUNC 2 SIGMOID 8.055 2.646 CONSTANTFUNC -0.5
AtomPair CB 192 CB 244 SCALARWEIGHTEDFUNC 1.458 SUMFUNC 2 SIGMOID 8.342 3.831 CONSTANTFUNC -0.5
AtomPair CA 113 CB 145 SCALARWEIGHTEDFUNC 1.455 SUMFUNC 2 SIGMOID 5.671 9.346 CONSTANTFUNC -0.5
AtomPair CB 175 CB 197 SCALARWEIGHTEDFUNC 1.446 SUMFUNC 2 SIGMOID 6.972 3.484 CONSTANTFUNC -0.5
AtomPair CB 67 CB 88 SCALARWEIGHTEDFUNC 1.441 SUMFUNC 2 SIGMOID 6.707 4.000 CONSTANTFUNC -0.5
AtomPair CB 148 CB 221 SCALARWEIGHTEDFUNC 1.437 SUMFUNC 2 SIGMOID 6.759 6.897 CONSTANTFUNC -0.5
AtomPair CB 150 CB 218 SCALARWEIGHTEDFUNC 1.433 SUMFUNC 2 SIGMOID 5.982 2.646 CONSTANTFUNC -0.5
AtomPair CA 7 CB 220 SCALARWEIGHTEDFUNC 1.431 SUMFUNC 2 SIGMOID 7.472 4.854 CONSTANTFUNC -0.5
AtomPair CB 111 CB 115 SCALARWEIGHTEDFUNC 1.430 SUMFUNC 2 SIGMOID 9.976 2.183 CONSTANTFUNC -0.5
AtomPair CB 263 CB 266 SCALARWEIGHTEDFUNC 1.426 SUMFUNC 2 SIGMOID 6.766 2.865 CONSTANTFUNC -0.5
AtomPair CB 69 CB 216 SCALARWEIGHTEDFUNC 1.421 SUMFUNC 2 SIGMOID 8.397 3.425 CONSTANTFUNC -0.5
AtomPair CB 110 CB 114 SCALARWEIGHTEDFUNC 1.417 SUMFUNC 2 SIGMOID 8.485 2.364 CONSTANTFUNC -0.5
AtomPair CB 30 CB 66 SCALARWEIGHTEDFUNC 1.406 SUMFUNC 2 SIGMOID 6.759 6.897 CONSTANTFUNC -0.5
AtomPair CB 71 CB 86 SCALARWEIGHTEDFUNC 1.392 SUMFUNC 2 SIGMOID 5.381 3.817 CONSTANTFUNC -0.5
AtomPair CB 138 CB 142 SCALARWEIGHTEDFUNC 1.387 SUMFUNC 2 SIGMOID 7.081 3.279 CONSTANTFUNC -0.5
AtomPair CB 29 CB 112 SCALARWEIGHTEDFUNC 1.384 SUMFUNC 2 SIGMOID 5.381 3.817 CONSTANTFUNC -0.5
AtomPair CA 172 CB 184 SCALARWEIGHTEDFUNC 1.380 SUMFUNC 2 SIGMOID 5.51 6.536 CONSTANTFUNC -0.5
AtomPair CB 235 CB 243 SCALARWEIGHTEDFUNC 1.365 SUMFUNC 2 SIGMOID 10.661 2.183 CONSTANTFUNC -0.5
AtomPair CB 225 CB 240 SCALARWEIGHTEDFUNC 1.359 SUMFUNC 2 SIGMOID 6.587 4.673 CONSTANTFUNC -0.5
AtomPair CB 250 CB 254 SCALARWEIGHTEDFUNC 1.354 SUMFUNC 2 SIGMOID 6.45 4.673 CONSTANTFUNC -0.5
AtomPair CB 49 CB 111 SCALARWEIGHTEDFUNC 1.354 SUMFUNC 2 SIGMOID 11.758 2.237 CONSTANTFUNC -0.5
AtomPair CB 241 CB 245 SCALARWEIGHTEDFUNC 1.342 SUMFUNC 2 SIGMOID 11.322 1.543 CONSTANTFUNC -0.5
AtomPair CB 93 CB 124 SCALARWEIGHTEDFUNC 1.336 SUMFUNC 2 SIGMOID 7.633 5.587 CONSTANTFUNC -0.5
AtomPair CB 242 CB 246 SCALARWEIGHTEDFUNC 1.319 SUMFUNC 2 SIGMOID 7.682 4.016 CONSTANTFUNC -0.5
AtomPair CB 101 CB 104 SCALARWEIGHTEDFUNC 1.319 SUMFUNC 2 SIGMOID 6.19 3.425 CONSTANTFUNC -0.5
AtomPair CB 173 CB 197 SCALARWEIGHTEDFUNC 1.314 SUMFUNC 2 SIGMOID 5.854 3.205 CONSTANTFUNC -0.5
AtomPair CB 180 CB 193 SCALARWEIGHTEDFUNC 1.309 SUMFUNC 2 SIGMOID 9.513 1.946 CONSTANTFUNC -0.5
AtomPair CB 67 CB 90 SCALARWEIGHTEDFUNC 1.307 SUMFUNC 2 SIGMOID 5.381 3.817 CONSTANTFUNC -0.5
AtomPair CB 28 CB 86 SCALARWEIGHTEDFUNC 1.302 SUMFUNC 2 SIGMOID 5.854 3.205 CONSTANTFUNC -0.5
AtomPair CB 178 CB 261 SCALARWEIGHTEDFUNC 1.302 SUMFUNC 2 SIGMOID 7.889 3.584 CONSTANTFUNC -0.5
AtomPair CA 155 CB 180 SCALARWEIGHTEDFUNC 1.302 SUMFUNC 2 SIGMOID 9.166 2.994 CONSTANTFUNC -0.5
AtomPair CB 26 CB 229 SCALARWEIGHTEDFUNC 1.300 SUMFUNC 2 SIGMOID 8.077 1.577 CONSTANTFUNC -0.5
AtomPair CB 83 CB 226 SCALARWEIGHTEDFUNC 1.288 SUMFUNC 2 SIGMOID 5.381 3.817 CONSTANTFUNC -0.5
AtomPair CB 228 CB 267 SCALARWEIGHTEDFUNC 1.272 SUMFUNC 2 SIGMOID 5.854 3.205 CONSTANTFUNC -0.5
AtomPair CB 216 CB 219 SCALARWEIGHTEDFUNC 1.251 SUMFUNC 2 SIGMOID 8.247 2.577 CONSTANTFUNC -0.5
AtomPair CB 109 CB 140 SCALARWEIGHTEDFUNC 1.243 SUMFUNC 2 SIGMOID 6.707 4.000 CONSTANTFUNC -0.5
AtomPair CB 35 CB 90 SCALARWEIGHTEDFUNC 1.240 SUMFUNC 2 SIGMOID 6.587 4.673 CONSTANTFUNC -0.5
AtomPair CB 232 CB 243 SCALARWEIGHTEDFUNC 1.236 SUMFUNC 2 SIGMOID 8.672 3.460 CONSTANTFUNC -0.5
AtomPair CB 180 CB 184 SCALARWEIGHTEDFUNC 1.236 SUMFUNC 2 SIGMOID 9.753 2.070 CONSTANTFUNC -0.5
AtomPair CB 149 CB 168 SCALARWEIGHTEDFUNC 1.223 SUMFUNC 2 SIGMOID 5.381 3.817 CONSTANTFUNC -0.5
AtomPair CB 35 CB 67 SCALARWEIGHTEDFUNC 1.219 SUMFUNC 2 SIGMOID 6.587 4.673 CONSTANTFUNC -0.5
AtomPair CB 192 CB 262 SCALARWEIGHTEDFUNC 1.218 SUMFUNC 2 SIGMOID 7.441 4.132 CONSTANTFUNC -0.5
AtomPair CB 119 CB 222 SCALARWEIGHTEDFUNC 1.218 SUMFUNC 2 SIGMOID 5.854 3.205 CONSTANTFUNC -0.5
AtomPair CB 200 CB 210 SCALARWEIGHTEDFUNC 1.217 SUMFUNC 2 SIGMOID 7.807 2.451 CONSTANTFUNC -0.5
AtomPair CB 38 CB 208 SCALARWEIGHTEDFUNC 1.215 SUMFUNC 2 SIGMOID 10.843 1.805 CONSTANTFUNC -0.5
AtomPair CB 114 CB 139 SCALARWEIGHTEDFUNC 1.203 SUMFUNC 2 SIGMOID 7.081 3.279 CONSTANTFUNC -0.5
AtomPair CB 93 CA 108 SCALARWEIGHTEDFUNC 1.184 SUMFUNC 2 SIGMOID 5.671 9.346 CONSTANTFUNC -0.5
AtomPair CB 134 CB 138 SCALARWEIGHTEDFUNC 1.180 SUMFUNC 2 SIGMOID 8.485 2.364 CONSTANTFUNC -0.5
AtomPair CB 48 CB 53 SCALARWEIGHTEDFUNC 1.169 SUMFUNC 2 SIGMOID 7.483 2.242 CONSTANTFUNC -0.5
AtomPair CB 65 CB 69 SCALARWEIGHTEDFUNC 1.161 SUMFUNC 2 SIGMOID 8.221 2.398 CONSTANTFUNC -0.5
AtomPair CB 245 CB 259 SCALARWEIGHTEDFUNC 1.158 SUMFUNC 2 SIGMOID 8.792 2.247 CONSTANTFUNC -0.5
AtomPair CB 105 CB 124 SCALARWEIGHTEDFUNC 1.154 SUMFUNC 2 SIGMOID 8.342 3.831 CONSTANTFUNC -0.5
AtomPair CB 21 CB 230 SCALARWEIGHTEDFUNC 1.154 SUMFUNC 2 SIGMOID 8.48 2.433 CONSTANTFUNC -0.5
AtomPair CB 140 CB 147 SCALARWEIGHTEDFUNC 1.147 SUMFUNC 2 SIGMOID 5.854 3.205 CONSTANTFUNC -0.5
AtomPair CB 122 CB 149 SCALARWEIGHTEDFUNC 1.140 SUMFUNC 2 SIGMOID 6.707 4.000 CONSTANTFUNC -0.5
AtomPair CB 122 CB 147 SCALARWEIGHTEDFUNC 1.136 SUMFUNC 2 SIGMOID 7.633 5.587 CONSTANTFUNC -0.5
AtomPair CB 12 CB 263 SCALARWEIGHTEDFUNC 1.120 SUMFUNC 2 SIGMOID 8.502 2.681 CONSTANTFUNC -0.5
AtomPair CB 123 CB 219 SCALARWEIGHTEDFUNC 1.104 SUMFUNC 2 SIGMOID 6.937 3.115 CONSTANTFUNC -0.5
AtomPair CB 83 CB 86 SCALARWEIGHTEDFUNC 1.100 SUMFUNC 2 SIGMOID 5.381 3.817 CONSTANTFUNC -0.5
AtomPair CB 243 CB 247 SCALARWEIGHTEDFUNC 1.095 SUMFUNC 2 SIGMOID 8.221 2.398 CONSTANTFUNC -0.5
AtomPair CB 48 CB 51 SCALARWEIGHTEDFUNC 1.093 SUMFUNC 2 SIGMOID 6.937 3.115 CONSTANTFUNC -0.5
AtomPair CB 150 CB 217 SCALARWEIGHTEDFUNC 1.075 SUMFUNC 2 SIGMOID 5.381 3.817 CONSTANTFUNC -0.5
AtomPair CB 109 CB 122 SCALARWEIGHTEDFUNC 1.073 SUMFUNC 2 SIGMOID 8.522 5.051 CONSTANTFUNC -0.5
AtomPair CB 141 CB 167 SCALARWEIGHTEDFUNC 1.072 SUMFUNC 2 SIGMOID 7.159 3.817 CONSTANTFUNC -0.5
AtomPair CB 221 CB 262 SCALARWEIGHTEDFUNC 1.072 SUMFUNC 2 SIGMOID 6.759 6.897 CONSTANTFUNC -0.5
AtomPair CB 138 CB 166 SCALARWEIGHTEDFUNC 1.068 SUMFUNC 2 SIGMOID 6.766 2.865 CONSTANTFUNC -0.5
AtomPair CA 172 CB 190 SCALARWEIGHTEDFUNC 1.067 SUMFUNC 2 SIGMOID 6.554 8.000 CONSTANTFUNC -0.5
AtomPair CB 154 CB 185 SCALARWEIGHTEDFUNC 1.066 SUMFUNC 2 SIGMOID 7.807 2.451 CONSTANTFUNC -0.5
AtomPair CB 26 CB 226 SCALARWEIGHTEDFUNC 1.063 SUMFUNC 2 SIGMOID 5.854 3.205 CONSTANTFUNC -0.5
AtomPair CB 137 CB 168 SCALARWEIGHTEDFUNC 1.062 SUMFUNC 2 SIGMOID 5.854 3.205 CONSTANTFUNC -0.5
AtomPair CB 151 CB 170 SCALARWEIGHTEDFUNC 1.060 SUMFUNC 2 SIGMOID 5.829 3.436 CONSTANTFUNC -0.5
AtomPair CB 72 CB 79 SCALARWEIGHTEDFUNC 1.058 SUMFUNC 2 SIGMOID 5.854 3.205 CONSTANTFUNC -0.5
AtomPair CB 91 CB 115 SCALARWEIGHTEDFUNC 1.058 SUMFUNC 2 SIGMOID 7.219 4.310 CONSTANTFUNC -0.5
AtomPair CB 225 CB 244 SCALARWEIGHTEDFUNC 1.042 SUMFUNC 2 SIGMOID 6.707 4.000 CONSTANTFUNC -0.5
AtomPair CB 197 CB 212 SCALARWEIGHTEDFUNC 1.037 SUMFUNC 2 SIGMOID 7.219 4.310 CONSTANTFUNC -0.5
AtomPair CB 134 CB 164 SCALARWEIGHTEDFUNC 1.035 SUMFUNC 2 SIGMOID 10.713 2.755 CONSTANTFUNC -0.5
AtomPair CB 120 CB 145 SCALARWEIGHTEDFUNC 1.035 SUMFUNC 2 SIGMOID 5.854 3.205 CONSTANTFUNC -0.5
AtomPair CB 139 CB 143 SCALARWEIGHTEDFUNC 1.024 SUMFUNC 2 SIGMOID 9.753 2.070 CONSTANTFUNC -0.5
AtomPair CB 62 CB 215 SCALARWEIGHTEDFUNC 1.023 SUMFUNC 2 SIGMOID 8.051 2.299 CONSTANTFUNC -0.5
AtomPair CB 31 CA 108 SCALARWEIGHTEDFUNC 1.023 SUMFUNC 2 SIGMOID 6.554 8.000 CONSTANTFUNC -0.5
AtomPair CB 194 CB 221 SCALARWEIGHTEDFUNC 1.015 SUMFUNC 2 SIGMOID 5.854 3.205 CONSTANTFUNC -0.5
AtomPair CB 225 CB 228 SCALARWEIGHTEDFUNC 1.014 SUMFUNC 2 SIGMOID 5.854 3.205 CONSTANTFUNC -0.5
AtomPair CB 62 CB 153 SCALARWEIGHTEDFUNC 1.012 SUMFUNC 2 SIGMOID 8.672 3.460 CONSTANTFUNC -0.5
AtomPair CB 231 CB 268 SCALARWEIGHTEDFUNC 1.010 SUMFUNC 2 SIGMOID 8.715 2.155 CONSTANTFUNC -0.5
