# QUERY LQQWKVGDKCSAIWSEDGCIYPATIASIDFKRETCVVVYTGYGNREEQNLSDLLSPICE
# MATCH |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
# INPUT LQQWKVGDKCSAIWSEDGCIYPATIASIDFKRETCVVVYTGYGNREEQNLSDLLSPICE

AtomPair CB 22 CA 41 SCALARWEIGHTEDFUNC 3.727 SUMFUNC 2 SIGMOID 6.14 4.082 CONSTANTFUNC -0.5
AtomPair CB 15 CB 46 SCALARWEIGHTEDFUNC 2.589 SUMFUNC 2 SIGMOID 7.483 2.242 CONSTANTFUNC -0.5
AtomPair CB 11 CB 56 SCALARWEIGHTEDFUNC 1.831 SUMFUNC 2 SIGMOID 6.937 3.115 CONSTANTFUNC -0.5
AtomPair CA 18 CB 52 SCALARWEIGHTEDFUNC 1.776 SUMFUNC 2 SIGMOID 6.135 5.181 CONSTANTFUNC -0.5
AtomPair CB 4 CB 10 SCALARWEIGHTEDFUNC 1.762 SUMFUNC 2 SIGMOID 9.752 2.398 CONSTANTFUNC -0.5
AtomPair CB 39 CB 44 SCALARWEIGHTEDFUNC 1.717 SUMFUNC 2 SIGMOID 10.039 1.706 CONSTANTFUNC -0.5
AtomPair CB 13 CB 52 SCALARWEIGHTEDFUNC 1.666 SUMFUNC 2 SIGMOID 7.472 2.933 CONSTANTFUNC -0.5
AtomPair CB 49 CB 52 SCALARWEIGHTEDFUNC 1.648 SUMFUNC 2 SIGMOID 7.672 2.967 CONSTANTFUNC -0.5
AtomPair CB 22 CA 43 SCALARWEIGHTEDFUNC 1.470 SUMFUNC 2 SIGMOID 6.14 4.082 CONSTANTFUNC -0.5
AtomPair CB 9 CB 40 SCALARWEIGHTEDFUNC 1.443 SUMFUNC 2 SIGMOID 8.715 2.155 CONSTANTFUNC -0.5
AtomPair CB 22 CB 40 SCALARWEIGHTEDFUNC 1.409 SUMFUNC 2 SIGMOID 7.062 3.125 CONSTANTFUNC -0.5
AtomPair CB 24 CB 40 SCALARWEIGHTEDFUNC 1.340 SUMFUNC 2 SIGMOID 6.676 5.319 CONSTANTFUNC -0.5
AtomPair CB 26 CB 45 SCALARWEIGHTEDFUNC 1.321 SUMFUNC 2 SIGMOID 9.365 2.062 CONSTANTFUNC -0.5
AtomPair CB 26 CB 38 SCALARWEIGHTEDFUNC 1.320 SUMFUNC 2 SIGMOID 5.854 3.205 CONSTANTFUNC -0.5
AtomPair CB 6 CB 27 SCALARWEIGHTEDFUNC 1.294 SUMFUNC 2 SIGMOID 6.567 4.878 CONSTANTFUNC -0.5
AtomPair CB 29 CB 50 SCALARWEIGHTEDFUNC 1.257 SUMFUNC 2 SIGMOID 7.696 2.874 CONSTANTFUNC -0.5
AtomPair CB 37 CB 46 SCALARWEIGHTEDFUNC 1.207 SUMFUNC 2 SIGMOID 7.404 1.961 CONSTANTFUNC -0.5
AtomPair CB 21 CB 44 SCALARWEIGHTEDFUNC 1.187 SUMFUNC 2 SIGMOID 10.039 1.706 CONSTANTFUNC -0.5
AtomPair CB 17 CB 21 SCALARWEIGHTEDFUNC 1.117 SUMFUNC 2 SIGMOID 9.979 1.479 CONSTANTFUNC -0.5
AtomPair CB 14 CB 22 SCALARWEIGHTEDFUNC 1.105 SUMFUNC 2 SIGMOID 9.719 2.165 CONSTANTFUNC -0.5
AtomPair CB 11 CB 22 SCALARWEIGHTEDFUNC 1.104 SUMFUNC 2 SIGMOID 6.937 3.115 CONSTANTFUNC -0.5
AtomPair CB 35 CB 48 SCALARWEIGHTEDFUNC 1.100 SUMFUNC 2 SIGMOID 7.962 2.882 CONSTANTFUNC -0.5
AtomPair CB 9 CB 24 SCALARWEIGHTEDFUNC 1.085 SUMFUNC 2 SIGMOID 8.715 2.155 CONSTANTFUNC -0.5
AtomPair CB 38 CB 45 SCALARWEIGHTEDFUNC 1.072 SUMFUNC 2 SIGMOID 9.513 1.946 CONSTANTFUNC -0.5
AtomPair CB 10 CB 51 SCALARWEIGHTEDFUNC 1.060 SUMFUNC 2 SIGMOID 6.59 4.167 CONSTANTFUNC -0.5
AtomPair CB 4 CB 8 SCALARWEIGHTEDFUNC 1.045 SUMFUNC 2 SIGMOID 9.867 2.105 CONSTANTFUNC -0.5
AtomPair CB 15 CB 53 SCALARWEIGHTEDFUNC 1.013 SUMFUNC 2 SIGMOID 7.394 3.484 CONSTANTFUNC -0.5
AtomPair CB 5 CB 8 SCALARWEIGHTEDFUNC 1.013 SUMFUNC 2 SIGMOID 9.306 2.915 CONSTANTFUNC -0.5
