AmbiguousNMRDistance     H     5     H    34 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H     6     H    34 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H     7     H    34 BOUNDED 1.5 3.350 0.3 NOE; rawdata 3.200
AmbiguousNMRDistance     H     7     H    35 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H    28     H    35 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H     7     H    36 BOUNDED 1.5 1.850 0.3 NOE; rawdata 1.700
AmbiguousNMRDistance     H     8     H    36 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H     9     H    36 BOUNDED 1.5 1.850 0.3 NOE; rawdata 1.700
AmbiguousNMRDistance     H     9     H    37 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H     9     H    38 BOUNDED 1.5 3.350 0.3 NOE; rawdata 3.200
AmbiguousNMRDistance     H    10     H    38 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H    11     H    38 BOUNDED 1.5 3.350 0.3 NOE; rawdata 3.200
AmbiguousNMRDistance     H    11     H    39 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H     8     H    58 BOUNDED 1.5 1.850 0.3 NOE; rawdata 1.700
AmbiguousNMRDistance     H     9     H    58 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H    10     H    58 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H     8     H    59 BOUNDED 1.5 3.350 0.3 NOE; rawdata 3.200
AmbiguousNMRDistance     H     9     H    59 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H    10     H    59 BOUNDED 1.5 3.350 0.3 NOE; rawdata 3.200
AmbiguousNMRDistance     H    10     H    60 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H    10     H    61 BOUNDED 1.5 3.350 0.3 NOE; rawdata 3.200
AmbiguousNMRDistance     H    11     H    61 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H    12     H    61 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H    79     H   103 BOUNDED 1.5 3.350 0.3 NOE; rawdata 3.200
AmbiguousNMRDistance     H    78     H   104 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H    79     H   104 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H    79     H   105 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H    99     H   105 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   135     H   146 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   136     H   146 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   138     H   146 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   139     H   146 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   170     H   177 BOUNDED 1.5 3.350 0.3 NOE; rawdata 3.200
AmbiguousNMRDistance     H   171     H   177 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   170     H   180 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   170     H   181 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   167     H   182 BOUNDED 1.5 3.350 0.3 NOE; rawdata 3.200
AmbiguousNMRDistance     H   169     H   182 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   170     H   182 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   167     H   183 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   167     H   185 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   166     H   187 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   166     H   188 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   161     H   195 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   151     H   208 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   148     H   217 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   145     H   222 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   145     H   223 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   146     H   223 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   147     H   223 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   148     H   223 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   146     H   224 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   147     H   224 BOUNDED 1.5 3.350 0.3 NOE; rawdata 3.200
AmbiguousNMRDistance     H   148     H   224 BOUNDED 1.5 3.350 0.3 NOE; rawdata 3.200
AmbiguousNMRDistance     H   116     H   225 BOUNDED 1.5 1.850 0.3 NOE; rawdata 1.700
AmbiguousNMRDistance     H   148     H   225 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   116     H   226 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   148     H   226 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   150     H   226 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   114     H   227 BOUNDED 1.5 1.850 0.3 NOE; rawdata 1.700
AmbiguousNMRDistance     H   116     H   227 BOUNDED 1.5 3.350 0.3 NOE; rawdata 3.200
AmbiguousNMRDistance     H   114     H   228 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   119     H   242 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   117     H   243 BOUNDED 1.5 1.850 0.3 NOE; rawdata 1.700
AmbiguousNMRDistance     H   118     H   243 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   119     H   243 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   117     H   244 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   115     H   245 BOUNDED 1.5 1.850 0.3 NOE; rawdata 1.700
AmbiguousNMRDistance     H   117     H   245 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   115     H   246 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   115     H   247 BOUNDED 1.5 3.350 0.3 NOE; rawdata 3.200
AmbiguousNMRDistance     H   128     H   249 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   129     H   249 BOUNDED 1.5 3.350 0.3 NOE; rawdata 3.200
AmbiguousNMRDistance     H   130     H   249 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   129     H   250 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   129     H   251 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   130     H   251 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   164     H   253 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   162     H   255 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   247     H   255 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   249     H   255 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   161     H   256 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   162     H   256 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   163     H   256 BOUNDED 1.5 3.350 0.3 NOE; rawdata 3.200
AmbiguousNMRDistance     H   111     H   260 BOUNDED 1.5 1.850 0.3 NOE; rawdata 1.700
AmbiguousNMRDistance     H    64     H   261 BOUNDED 1.5 3.350 0.3 NOE; rawdata 3.200
AmbiguousNMRDistance     H    65     H   261 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   111     H   261 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H    62     H   263 BOUNDED 1.5 1.850 0.3 NOE; rawdata 1.700
AmbiguousNMRDistance     H    63     H   263 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H    64     H   263 BOUNDED 1.5 3.350 0.3 NOE; rawdata 3.200
AmbiguousNMRDistance     H   108     H   263 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   109     H   263 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   106     H   264 BOUNDED 1.5 1.850 0.3 NOE; rawdata 1.700
AmbiguousNMRDistance     H   108     H   264 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   109     H   264 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H    60     H   265 BOUNDED 1.5 1.850 0.3 NOE; rawdata 1.700
AmbiguousNMRDistance     H    61     H   265 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H    62     H   265 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   106     H   265 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H    77     H   266 BOUNDED 1.5 3.350 0.3 NOE; rawdata 3.200
AmbiguousNMRDistance     H    58     H   267 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H    59     H   267 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H    60     H   267 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H    77     H   267 BOUNDED 1.5 3.350 0.3 NOE; rawdata 3.200
AmbiguousNMRDistance     H    76     H   268 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H    77     H   268 BOUNDED 1.5 1.850 0.3 NOE; rawdata 1.700
AmbiguousNMRDistance     H    77     H   269 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H    77     H   270 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   283     H   290 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   286     H   292 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H    19     H   296 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H    16     H   297 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   110     H   301 BOUNDED 1.5 1.850 0.3 NOE; rawdata 1.700
AmbiguousNMRDistance     H   110     H   302 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   109     H   303 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   110     H   303 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H    89     H   305 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H    90     H   305 BOUNDED 1.5 3.350 0.3 NOE; rawdata 3.200
AmbiguousNMRDistance     H   301     H   317 BOUNDED 1.5 3.350 0.3 NOE; rawdata 3.200
AmbiguousNMRDistance     H   247     H   323 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   259     H   328 BOUNDED 1.5 3.350 0.3 NOE; rawdata 3.200
AmbiguousNMRDistance     H   259     H   329 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   259     H   330 BOUNDED 1.5 1.850 0.3 NOE; rawdata 1.700
AmbiguousNMRDistance     H   260     H   330 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   261     H   330 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance     H   184     H   365 BOUNDED 1.5 5.350 0.3 NOE; rawdata 5.200
AmbiguousNMRDistance   QD1    11     H    17 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    11   QQD    20 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H     7   QG1    35 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H     7   QG2    35 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1     7     H    35 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD2     7     H    35 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H     9   QQG    35 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1     9     H    35 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    25   QQG    35 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    28   QG1    35 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    28   QG2    35 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1     7     H    36 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD2     7     H    36 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG     8     H    36 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1     9     H    36 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG     8     H    37 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H     9   QG1    37 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H     9   QG2    37 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1     9     H    37 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    11   QG1    37 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    11   QG2    37 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    17   QQG    37 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    20   QQG    37 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1    20     H    37 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD2    20     H    37 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    21   QG1    37 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    21   QG2    37 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    22   QG1    37 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    22   QG2    37 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG     8     H    38 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1     9     H    38 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD    20     H    38 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    10   QQD    43 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    11   QQD    43 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    12   QQD    43 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD     7     H    58 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QG1     8     H    58 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QG2     8     H    58 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1     7     H    59 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD2     7     H    59 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H     8   QD1    59 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG     8     H    59 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1     9     H    59 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    10   QD1    60 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    43   QD1    60 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    44   QD1    60 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    47   QD1    60 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1    11     H    61 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD    43     H    61 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    51   QD1    75 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    51   QD2    75 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    52   QD1    75 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    52   QD2    75 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    60   QQD    76 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    70   QQD    76 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    64   QQG    97 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    79   QQD   103 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    70   QD1   104 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    71   QD1   104 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    79   QD1   104 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1    79     H   104 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QG1    97     H   104 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QG2    97     H   104 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    98   QD1   104 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1    79     H   105 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QG1    97     H   105 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QG2    97     H   105 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1    79     H   106 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG    97     H   106 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   121   QQD   139 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1   139     H   145 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD2   139     H   145 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD   135     H   146 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1   139     H   146 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD2   139     H   146 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1   132     H   147 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD   139     H   147 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   167   QQG   181 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   169   QG1   181 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   169   QG2   181 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   170   QG1   181 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   170   QG2   181 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   167   QQG   183 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1   161     H   192 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD   160     H   194 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   160   QD1   195 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   160   QD2   195 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD   160     H   195 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   161   QQD   195 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD   198     H   204 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD   151     H   207 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1   199     H   207 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1   151     H   208 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD2   151     H   208 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1   199     H   208 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1   121     H   222 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD2   121     H   222 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1   121     H   223 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD2   121     H   223 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD   135     H   223 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1   139     H   223 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD2   139     H   223 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD   121     H   224 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD   122     H   224 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD   135     H   224 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1   139     H   224 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD2   139     H   224 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD   147     H   224 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1   115     H   225 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD2   115     H   225 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD   147     H   225 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD   113     H   226 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   115   QD1   226 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   116   QD1   226 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD   147     H   226 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   148   QD1   226 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD   113     H   227 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD   115     H   227 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1   116     H   227 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD   113     H   228 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   114   QQG   244 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   115   QG1   244 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   115   QG2   244 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   116   QQG   244 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   117   QG1   244 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   117   QG2   244 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1   115     H   245 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD2   115     H   245 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   115   QG1   246 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   115   QG2   246 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD   115     H   246 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   113   QQD   247 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   114   QD1   247 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   114   QD2   247 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   115   QD1   247 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   115   QD2   247 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   116   QQD   247 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   227   QD1   247 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   227   QD2   247 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QG1   246     H   255 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QG2   246     H   255 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1   247     H   255 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD2   247     H   255 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD   247     H   256 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   111   QG1   259 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   111   QG2   259 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   112   QQG   259 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG   110     H   260 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    64   QG1   261 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    64   QG2   261 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    96   QG1   261 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    96   QG2   261 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   108   QG1   261 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   108   QG2   261 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   109   QG1   261 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   109   QG2   261 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   111   QQG   261 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    61   QQD   262 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    62   QD1   262 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    62   QD2   262 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    63   QD1   262 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    63   QD2   262 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   108   QQD   262 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   109   QQD   262 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG    97     H   263 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1    79     H   264 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG    97     H   264 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1    60     H   265 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD    76     H   265 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD    76     H   266 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1    79     H   266 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1    59     H   267 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD    76     H   267 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD    75     H   269 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD     7     H   272 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H     5   QQD   275 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H     6   QQD   275 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H     7   QQD   275 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1     7     H   275 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD2     7     H   275 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    33   QQD   275 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    34   QQD   275 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1   266     H   275 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1     7     H   276 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD2     7     H   276 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1   266     H   276 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1     7     H   277 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD2     7     H   277 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1    59     H   277 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1   266     H   277 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1     7     H   278 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD2     7     H   278 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1   266     H   278 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1    59     H   279 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1   266     H   279 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1    59     H   280 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   106   QD1   280 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   106   QD2   280 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   264   QD1   280 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   264   QD2   280 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   265   QD1   280 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   265   QD2   280 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1    59     H   281 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG    23     H   283 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    20   QQD   284 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    23   QQD   284 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG    23     H   285 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD   284     H   290 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG    23     H   291 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD   284     H   291 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG    23     H   292 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD   284     H   292 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    16   QG1   293 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    16   QG2   293 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    17   QQG   293 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    19   QG1   293 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    19   QG2   293 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    20   QG1   293 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    20   QG2   293 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    21   QQG   293 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    22   QQG   293 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    23   QQG   293 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG    23     H   293 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD   284     H   293 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG    23     H   294 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    16   QQD   299 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QG1   110     H   301 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QG2   110     H   301 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG   110     H   302 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD   290     H   302 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1    89     H   303 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD2    89     H   303 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG   110     H   303 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD   285     H   303 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1   290     H   303 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD2   290     H   303 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    88   QQD   304 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    89   QQD   304 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1    89     H   304 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD2    89     H   304 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    90   QQD   304 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD   285     H   304 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   286   QD1   304 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   286   QD2   304 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   287   QD1   304 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   287   QD2   304 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   288   QQD   304 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1   290     H   304 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD2   290     H   304 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1    89     H   305 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD2    89     H   305 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1    89     H   306 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD2    89     H   306 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD   290     H   307 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG   302     H   308 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG   302     H   309 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   301   QQD   311 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   302   QD1   311 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   302   QD2   311 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG   302     H   311 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   304   QQD   311 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   299   QD1   317 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   301   QD1   317 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG   244     H   319 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG   244     H   320 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QG1   246     H   322 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QG2   246     H   322 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QG1   246     H   323 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QG2   246     H   323 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG   110     H   324 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG   246     H   324 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QG1   259     H   324 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QG2   259     H   324 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG   259     H   325 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG   259     H   326 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QG1   259     H   328 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QG2   259     H   328 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    94   QD1   329 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    95   QD1   329 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H    96   QD1   329 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   259   QD1   329 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG   259     H   329 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   260   QD1   329 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QG1   259     H   330 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QG2   259     H   330 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG   261     H   330 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   169   QD1   333 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   170   QD1   333 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   176   QD1   333 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   177   QD1   333 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   178   QD1   333 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG   183     H   343 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   158   QG1   347 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   158   QG2   347 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1   161     H   347 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD   192     H   347 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   196   QQG   347 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD   192     H   348 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1   192     H   350 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD2   192     H   350 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QG1   196     H   350 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QG2   196     H   350 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQD   192     H   351 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QG1   196     H   351 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QG2   196     H   351 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1   199     H   351 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   190   QQG   357 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   193   QG1   357 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   193   QG2   357 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   194   QG1   357 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   194   QG2   357 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   196   QQG   357 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG   196     H   357 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   197   QQG   357 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   350   QQG   357 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG   183     H   361 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   184   QQD   361 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   185   QD1   361 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   185   QD2   361 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   188   QQD   361 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   189   QQD   361 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   190   QQD   361 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   347   QQD   361 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG   183     H   362 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG   183     H   363 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG   183     H   364 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG   183     H   365 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG   183     H   366 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG   181     H   368 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   183   QD1   368 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QQG   183     H   368 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   342   QD1   368 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance     H   343   QD1   368 BOUNDED 1.5 6.350 0.3 NOE; rawdata 6.200
AmbiguousNMRDistance   QD1   290   QD1   299 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG1    23   QD2   284 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   115   QG2   244 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2     7   QD1   280 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   284   QD1   290 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   290   QD2   304 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   290   QD1   304 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   284   QD1   290 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   290   QG1   302 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   290   QG2   302 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   290   QD2   299 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   115   QD2   147 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   147   QD2   198 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   147   QD1   226 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   115   QD2   147 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   132   QD2   147 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1     9   QD2   284 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2    20   QD2   284 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG1   108   QD2   284 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    20   QD2   284 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   284   QG2   293 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   284   QG1   293 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    59   QD2   284 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    11   QD2   284 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    76   QD1   104 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    76   QD1   266 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2    20   QD1    59 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2    20   QG2   293 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2    20   QG1   293 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   122   QD1   139 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   115   QD2   122 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   122   QD1   135 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG1   293   QD1   299 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2    20   QG2    35 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2    20   QD1   284 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2    20   QD2   280 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2    20   QG1    37 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2    20   QG1    35 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1     9   QD2    20 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    11   QD2    20 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    43   QD1    60 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   290   QD1   299 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   290   QD2   304 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2    89   QD2   304 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG1   302   QD1   311 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2   302   QD1   311 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   311   QD1   317 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   151   QD1   198 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   151   QD2   195 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   151   QD1   195 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   151   QG1   347 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   151   QD1   199 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    89   QD2   304 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    89   QD1   285 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    89   QD2   103 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    89   QD2   285 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   132   QD1   139 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1     9   QD1   280 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    59   QD1   280 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   115   QD1   247 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   115   QD1   247 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   226   QD1   247 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   285   QD2   304 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2    89   QD1   285 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   160   QD1   198 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   160   QD1   198 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2     7   QD1   275 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   122   QD1   135 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    79   QD1   280 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   151   QD1   198 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   132   QD1   198 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   122   QD2   139 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   115   QD1   122 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   192   QG2   357 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   160   QD2   195 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   192   QG1   343 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   192   QD2   361 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   151   QD2   195 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   195   QG1   347 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   161   QD2   195 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2    89   QD2   285 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2    89   QG2   302 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   160   QD2   198 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   132   QD2   160 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1     7   QD1   280 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1     7   QD1   275 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1     7   QG2    35 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1     7   QG1    35 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1     7   QD1    59 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   160   QD2   195 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   160   QD1   195 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    11   QD1    20 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    79   QD1   103 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1     7   QD2   280 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    20   QG1    37 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    20   QG2   293 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    20   QD2   290 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    20   QG2    37 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1     9   QD1    20 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    20   QD1    59 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   121   QD1   139 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   115   QG1   244 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   115   QD2   247 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   115   QD1   147 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   115   QG2   246 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   115   QG1   246 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   115   QD1   132 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   115   QD1   226 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   192   QD1   361 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   192   QG2   347 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   192   QG1   343 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   192   QG1   347 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   192   QD2   361 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   192   QD1   199 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   161   QD1   192 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG1    97   QD2   103 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2    97   QD2   103 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    79   QD2   103 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    89   QD1   304 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2    89   QD1   304 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2     7   QD2   275 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2     7   QG2    35 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2     7   QG1    35 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2     7   QD1   266 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   135   QD1   147 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    59   QD1   284 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2     9   QD1   284 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   284   QG2   293 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   284   QD2   290 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    20   QD1   284 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1     9   QD1   284 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   147   QD2   247 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   226   QD2   247 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   113   QD2   247 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   195   QG1   347 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   160   QD1   195 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   161   QD1   195 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   132   QD2   247 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   113   QD2   247 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   115   QD2   247 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   160   QD2   247 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   151   QD1   226 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   151   QG1   347 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   151   QD1   199 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2    23   QD1   284 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2    23   QG2   293 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2    23   QG1   293 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2    23   QG1    35 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG1   196   QG2   357 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    20   QD2   280 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1     9   QD2   280 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    59   QD2   280 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1     9   QG2    23 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2   347   QG2   357 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   192   QG2   357 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2   196   QG2   357 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2   196   QG1   357 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2   196   QG2   347 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   160   QD2   198 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   132   QD2   198 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG1    23   QD2   280 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG1   183   QG2   343 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2   343   QD2   361 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2   343   QD1   368 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   161   QG2   343 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   121   QD2   139 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG1   293   QD2   299 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1     9   QG1    37 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    11   QG1    37 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2     8   QG1    37 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   121   QD1   139 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   115   QG1   246 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2   259   QD1   329 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1     7   QD2   275 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    11   QD1   262 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2   302   QD2   311 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   311   QD1   317 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG1   302   QD2   311 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG1   183   QD1   361 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2   108   QD1   262 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1     9   QG2    35 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2    11   QD1   262 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2    35   QD1    59 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2   181   QG2   368 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2   181   QD1   368 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2   181   QD1   333 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   147   QD1   226 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG1   302   QD1   317 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   192   QG2   347 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   195   QG2   347 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG1   183   QD2   361 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG1   183   QG2   368 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2   183   QD1   368 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    11   QG2   293 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG1    97   QG1   261 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG1    97   QD1   104 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    79   QG1    97 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG1    97   QG2   261 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   116   QG1   244 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   290   QG2   302 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG1   259   QD1   329 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   290   QD1   304 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   290   QD2   299 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2    76   QD1   104 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG1   181   QD1   368 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   192   QG1   357 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   116   QG2   244 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    11   QG1   293 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   192   QG1   357 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2     8   QG2    59 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   161   QG1   343 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG1   343   QD2   361 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG1   110   QG1   261 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG1   110   QG1   259 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG1   110   QD1   329 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2    97   QG2   261 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2   261   QD1   329 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG1   110   QG2   259 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG1     8   QG2    50 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1     9   QG1    35 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG1    35   QD1    59 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG1     8   QG1    37 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2    20   QG2    37 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1     9   QG2    37 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2   110   QG2   261 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2   110   QG1   261 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2   110   QG2   302 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2   110   QD1   329 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG1   196   QG1   347 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2   196   QG1   347 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   199   QG1   347 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    11   QG2    37 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2    97   QG1   261 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG1   261   QD1   329 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2    97   QD1   103 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    79   QG2   104 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   361   QG2   368 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   361   QD1   368 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   161   QD2   361 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2    97   QD1   104 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2    97   QD1   329 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   132   QD1   160 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG1   181   QG2   368 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2   302   QG2   317 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2   302   QD1   317 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2     9   QD2    20 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2    59   QD1   266 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2     9   QG2    37 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   113   QG2   226 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2   178   QD1   333 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2   259   QG2   329 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    79   QG2   266 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG1   343   QD1   368 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    79   QD1   104 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    60   QD1    76 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    60   QD2    76 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1     9   QD1    59 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   199   QG2   347 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   178   QD1   333 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   161   QD1   199 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   266   QD1   280 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   266   QD2   280 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    79   QD1   266 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2     7   QD1    59 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2    76   QD1   266 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QG2    60   QD2    76 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   161   QG2   347 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   161   QG1   347 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    11   QD2   262 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    11   QD1   284 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2   122   QD1   132 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   115   QD1   132 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   132   QD1   147 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   132   QD1   226 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   115   QD1   226 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    33   QD1   275 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD2     7   QD1    33 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    33   QD2   275 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   108   QD1   285 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   108   QD2   262 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   108   QD1   284 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   108   QD2   280 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   108   QD1   262 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   108   QG2   293 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1   108   QD2   290 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
AmbiguousNMRDistance   QD1    89   QD1   108 BOUNDED 1.5 6.850 0.3 NOE; rawdata 6.700
