# QUERY KIEEGKLVIWINGDKGYNGLAEVGKKFEKDTGIKVTVEHPDKLEEKFPQVAATGDGPDIIFWAHDRFGGYAQSGLLAEITPDKAFQDKLYPFTWDAVRYN
# MATCH ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
# INPUT KIEEGKLVIWINGDKGYNGLAEVGKKFEKDTGIKVTVEHPDKLEEKFPQVAATGDGPDIIFWAHDRFGGYAQSGLLAEITPDKAFQDKLYPFTWDAVRYN

# QUERY GKLIAYPIAVEALSLIYNKDLLPNPPKTWEEIPALDKELKAKGKSALMFNLQEPYFTWPLIAADGGYAFKYENGKYDIKDVGVDNAGAKAGLTFLVDLIK
# MATCH ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
# INPUT GKLIAYPIAVEALSLIYNKDLLPNPPKTWEEIPALDKELKAKGKSALMFNLQEPYFTWPLIAADGGYAFKYENGKYDIKDVGVDNAGAKAGLTFLVDLIK

# QUERY NKHMNADTDYSIAEAAFNKGETAMTINGPWAWSNIDTSKVNYGVTVLPTFKGQPSKPFVGVLSAGINAASPNKELAKEFLENYLLTDEGLEAVNKDKPLG
# MATCH ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
# INPUT NKHMNADTDYSIAEAAFNKGETAMTINGPWAWSNIDTSKVNYGVTVLPTFKGQPSKPFVGVLSAGINAASPNKELAKEFLENYLLTDEGLEAVNKDKPLG

# QUERY AVALKSYEEELAKDPRIAATMENAQKGEIMPNIPQMSAFWYAVRTAVINAASGRQTVDEALKDAQTRITK
# MATCH ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
# INPUT AVALKSYEEELAKDPRIAATMENAQKGEIMPNIPQMSAFWYAVRTAVINAASGRQTVDEALKDAQTRITK

AtomPair CB 356 CB 359 SCALARWEIGHTEDFUNC 4.280 SUMFUNC 2 SIGMOID 7.628 2.445 CONSTANTFUNC -0.5
AtomPair CB 189 CB 358 SCALARWEIGHTEDFUNC 4.010 SUMFUNC 2 SIGMOID 9.306 2.915 CONSTANTFUNC -0.5
AtomPair CB 120 CB 241 SCALARWEIGHTEDFUNC 3.954 SUMFUNC 2 SIGMOID 7.672 2.967 CONSTANTFUNC -0.5
AtomPair CB 77 CB 273 SCALARWEIGHTEDFUNC 3.923 SUMFUNC 2 SIGMOID 8.327 1.818 CONSTANTFUNC -0.5
AtomPair CB 193 CB 197 SCALARWEIGHTEDFUNC 3.531 SUMFUNC 2 SIGMOID 6.971 3.257 CONSTANTFUNC -0.5
AtomPair CB 196 CB 200 SCALARWEIGHTEDFUNC 3.359 SUMFUNC 2 SIGMOID 8.077 1.577 CONSTANTFUNC -0.5
AtomPair CB 21 CB 25 SCALARWEIGHTEDFUNC 3.165 SUMFUNC 2 SIGMOID 8.327 1.818 CONSTANTFUNC -0.5
AtomPair CB 119 CA 243 SCALARWEIGHTEDFUNC 3.109 SUMFUNC 2 SIGMOID 8.216 2.793 CONSTANTFUNC -0.5
AtomPair CB 27 CB 278 SCALARWEIGHTEDFUNC 3.067 SUMFUNC 2 SIGMOID 9.403 1.953 CONSTANTFUNC -0.5
AtomPair CB 33 CB 275 SCALARWEIGHTEDFUNC 2.989 SUMFUNC 2 SIGMOID 8.342 3.831 CONSTANTFUNC -0.5
AtomPair CB 6 CB 36 SCALARWEIGHTEDFUNC 2.981 SUMFUNC 2 SIGMOID 8.715 2.155 CONSTANTFUNC -0.5
AtomPair CB 78 CB 102 SCALARWEIGHTEDFUNC 2.896 SUMFUNC 2 SIGMOID 9.842 2.304 CONSTANTFUNC -0.5
AtomPair CB 358 CB 362 SCALARWEIGHTEDFUNC 2.823 SUMFUNC 2 SIGMOID 9.306 2.915 CONSTANTFUNC -0.5
AtomPair CB 184 CB 362 SCALARWEIGHTEDFUNC 2.745 SUMFUNC 2 SIGMOID 9.306 2.915 CONSTANTFUNC -0.5
AtomPair CB 28 CB 34 SCALARWEIGHTEDFUNC 2.695 SUMFUNC 2 SIGMOID 9.842 2.304 CONSTANTFUNC -0.5
AtomPair CB 117 CA 243 SCALARWEIGHTEDFUNC 2.677 SUMFUNC 2 SIGMOID 9.098 3.745 CONSTANTFUNC -0.5
AtomPair CB 26 CB 282 SCALARWEIGHTEDFUNC 2.603 SUMFUNC 2 SIGMOID 9.319 2.513 CONSTANTFUNC -0.5
AtomPair CB 122 CB 224 SCALARWEIGHTEDFUNC 2.544 SUMFUNC 2 SIGMOID 9.122 3.145 CONSTANTFUNC -0.5
AtomPair CB 278 CB 281 SCALARWEIGHTEDFUNC 2.502 SUMFUNC 2 SIGMOID 9.863 2.571 CONSTANTFUNC -0.5
AtomPair CB 26 CB 29 SCALARWEIGHTEDFUNC 2.469 SUMFUNC 2 SIGMOID 10.662 1.355 CONSTANTFUNC -0.5
AtomPair CB 98 CB 103 SCALARWEIGHTEDFUNC 2.465 SUMFUNC 2 SIGMOID 9.852 1.730 CONSTANTFUNC -0.5
AtomPair CB 128 CB 131 SCALARWEIGHTEDFUNC 2.447 SUMFUNC 2 SIGMOID 7.628 2.445 CONSTANTFUNC -0.5
AtomPair CB 133 CB 197 SCALARWEIGHTEDFUNC 2.433 SUMFUNC 2 SIGMOID 7.321 2.404 CONSTANTFUNC -0.5
AtomPair CB 22 CB 25 SCALARWEIGHTEDFUNC 2.413 SUMFUNC 2 SIGMOID 9.842 2.304 CONSTANTFUNC -0.5
AtomPair CB 272 CB 275 SCALARWEIGHTEDFUNC 2.411 SUMFUNC 2 SIGMOID 7.889 3.584 CONSTANTFUNC -0.5
AtomPair CB 25 CB 29 SCALARWEIGHTEDFUNC 2.396 SUMFUNC 2 SIGMOID 10.662 1.355 CONSTANTFUNC -0.5
AtomPair CB 362 CB 366 SCALARWEIGHTEDFUNC 2.344 SUMFUNC 2 SIGMOID 8.715 2.155 CONSTANTFUNC -0.5
AtomPair CB 137 CB 201 SCALARWEIGHTEDFUNC 2.342 SUMFUNC 2 SIGMOID 9.319 2.513 CONSTANTFUNC -0.5
AtomPair CB 134 CB 138 SCALARWEIGHTEDFUNC 2.298 SUMFUNC 2 SIGMOID 7.124 2.941 CONSTANTFUNC -0.5
AtomPair CB 355 CB 363 SCALARWEIGHTEDFUNC 2.284 SUMFUNC 2 SIGMOID 8.601 2.801 CONSTANTFUNC -0.5
AtomPair CB 91 CB 95 SCALARWEIGHTEDFUNC 2.275 SUMFUNC 2 SIGMOID 7.321 2.404 CONSTANTFUNC -0.5
AtomPair CB 285 CB 288 SCALARWEIGHTEDFUNC 2.229 SUMFUNC 2 SIGMOID 8.077 2.105 CONSTANTFUNC -0.5
AtomPair CB 197 CB 201 SCALARWEIGHTEDFUNC 2.199 SUMFUNC 2 SIGMOID 7.672 2.967 CONSTANTFUNC -0.5
AtomPair CB 131 CB 134 SCALARWEIGHTEDFUNC 2.195 SUMFUNC 2 SIGMOID 7.124 2.941 CONSTANTFUNC -0.5
AtomPair CB 88 CB 304 SCALARWEIGHTEDFUNC 2.177 SUMFUNC 2 SIGMOID 8.479 1.692 CONSTANTFUNC -0.5
AtomPair CB 119 CB 123 SCALARWEIGHTEDFUNC 2.123 SUMFUNC 2 SIGMOID 9.198 1.818 CONSTANTFUNC -0.5
AtomPair CB 58 CB 272 SCALARWEIGHTEDFUNC 2.079 SUMFUNC 2 SIGMOID 7.672 2.967 CONSTANTFUNC -0.5
AtomPair CA 24 CB 28 SCALARWEIGHTEDFUNC 2.069 SUMFUNC 2 SIGMOID 7.036 4.016 CONSTANTFUNC -0.5
AtomPair CB 60 CB 267 SCALARWEIGHTEDFUNC 2.067 SUMFUNC 2 SIGMOID 7.631 2.933 CONSTANTFUNC -0.5
AtomPair CB 193 CB 357 SCALARWEIGHTEDFUNC 2.044 SUMFUNC 2 SIGMOID 6.791 7.246 CONSTANTFUNC -0.5
AtomPair CB 27 CB 33 SCALARWEIGHTEDFUNC 2.024 SUMFUNC 2 SIGMOID 9.602 2.882 CONSTANTFUNC -0.5
AtomPair CA 24 CB 279 SCALARWEIGHTEDFUNC 2.022 SUMFUNC 2 SIGMOID 7.966 4.566 CONSTANTFUNC -0.5
AtomPair CB 6 CB 34 SCALARWEIGHTEDFUNC 1.979 SUMFUNC 2 SIGMOID 10.662 1.355 CONSTANTFUNC -0.5
AtomPair CB 76 CA 265 SCALARWEIGHTEDFUNC 1.977 SUMFUNC 2 SIGMOID 6.554 8.000 CONSTANTFUNC -0.5
AtomPair CB 186 CB 190 SCALARWEIGHTEDFUNC 1.973 SUMFUNC 2 SIGMOID 5.381 3.817 CONSTANTFUNC -0.5
AtomPair CB 270 CB 273 SCALARWEIGHTEDFUNC 1.930 SUMFUNC 2 SIGMOID 8.792 2.247 CONSTANTFUNC -0.5
AtomPair CB 8 CB 36 SCALARWEIGHTEDFUNC 1.910 SUMFUNC 2 SIGMOID 6.791 7.246 CONSTANTFUNC -0.5
AtomPair CB 28 CB 31 SCALARWEIGHTEDFUNC 1.900 SUMFUNC 2 SIGMOID 7.628 2.445 CONSTANTFUNC -0.5
AtomPair CB 274 CB 278 SCALARWEIGHTEDFUNC 1.889 SUMFUNC 2 SIGMOID 9.863 2.571 CONSTANTFUNC -0.5
AtomPair CB 97 CB 263 SCALARWEIGHTEDFUNC 1.873 SUMFUNC 2 SIGMOID 6.567 4.878 CONSTANTFUNC -0.5
AtomPair CB 189 CB 357 SCALARWEIGHTEDFUNC 1.869 SUMFUNC 2 SIGMOID 8.077 1.577 CONSTANTFUNC -0.5
AtomPair CB 10 CB 50 SCALARWEIGHTEDFUNC 1.845 SUMFUNC 2 SIGMOID 10.021 3.690 CONSTANTFUNC -0.5
AtomPair CB 193 CB 358 SCALARWEIGHTEDFUNC 1.843 SUMFUNC 2 SIGMOID 6.971 3.257 CONSTANTFUNC -0.5
AtomPair CB 349 CB 355 SCALARWEIGHTEDFUNC 1.829 SUMFUNC 2 SIGMOID 8.502 2.681 CONSTANTFUNC -0.5
AtomPair CB 139 CB 223 SCALARWEIGHTEDFUNC 1.819 SUMFUNC 2 SIGMOID 6.707 4.000 CONSTANTFUNC -0.5
AtomPair CB 349 CB 354 SCALARWEIGHTEDFUNC 1.807 SUMFUNC 2 SIGMOID 10.135 2.688 CONSTANTFUNC -0.5
AtomPair CB 365 CB 369 SCALARWEIGHTEDFUNC 1.805 SUMFUNC 2 SIGMOID 8.055 2.646 CONSTANTFUNC -0.5
AtomPair CB 266 CB 280 SCALARWEIGHTEDFUNC 1.795 SUMFUNC 2 SIGMOID 8.342 3.831 CONSTANTFUNC -0.5
AtomPair CB 59 CB 280 SCALARWEIGHTEDFUNC 1.794 SUMFUNC 2 SIGMOID 8.342 3.831 CONSTANTFUNC -0.5
AtomPair CB 359 CB 363 SCALARWEIGHTEDFUNC 1.788 SUMFUNC 2 SIGMOID 8.945 2.825 CONSTANTFUNC -0.5
AtomPair CB 51 CA 56 SCALARWEIGHTEDFUNC 1.739 SUMFUNC 2 SIGMOID 5.201 3.717 CONSTANTFUNC -0.5
AtomPair CB 25 CB 28 SCALARWEIGHTEDFUNC 1.738 SUMFUNC 2 SIGMOID 9.842 2.304 CONSTANTFUNC -0.5
AtomPair CB 80 CB 102 SCALARWEIGHTEDFUNC 1.710 SUMFUNC 2 SIGMOID 8.715 2.155 CONSTANTFUNC -0.5
AtomPair CB 134 CB 137 SCALARWEIGHTEDFUNC 1.710 SUMFUNC 2 SIGMOID 8.327 1.818 CONSTANTFUNC -0.5
AtomPair CA 24 CB 37 SCALARWEIGHTEDFUNC 1.698 SUMFUNC 2 SIGMOID 5.671 9.346 CONSTANTFUNC -0.5
AtomPair CB 350 CB 360 SCALARWEIGHTEDFUNC 1.693 SUMFUNC 2 SIGMOID 5.381 3.817 CONSTANTFUNC -0.5
AtomPair CB 190 CB 193 SCALARWEIGHTEDFUNC 1.680 SUMFUNC 2 SIGMOID 5.982 2.646 CONSTANTFUNC -0.5
AtomPair CB 137 CB 141 SCALARWEIGHTEDFUNC 1.676 SUMFUNC 2 SIGMOID 8.327 1.818 CONSTANTFUNC -0.5
AtomPair CB 121 CB 223 SCALARWEIGHTEDFUNC 1.674 SUMFUNC 2 SIGMOID 6.707 4.000 CONSTANTFUNC -0.5
AtomPair CB 148 CB 222 SCALARWEIGHTEDFUNC 1.667 SUMFUNC 2 SIGMOID 8.397 3.425 CONSTANTFUNC -0.5
AtomPair CB 33 CB 278 SCALARWEIGHTEDFUNC 1.660 SUMFUNC 2 SIGMOID 7.949 2.208 CONSTANTFUNC -0.5
AtomPair CB 117 CB 245 SCALARWEIGHTEDFUNC 1.658 SUMFUNC 2 SIGMOID 9.813 2.326 CONSTANTFUNC -0.5
AtomPair CB 130 CB 133 SCALARWEIGHTEDFUNC 1.644 SUMFUNC 2 SIGMOID 7.938 2.105 CONSTANTFUNC -0.5
AtomPair CB 115 CB 245 SCALARWEIGHTEDFUNC 1.641 SUMFUNC 2 SIGMOID 7.642 5.263 CONSTANTFUNC -0.5
AtomPair CB 318 CB 322 SCALARWEIGHTEDFUNC 1.603 SUMFUNC 2 SIGMOID 7.124 2.941 CONSTANTFUNC -0.5
AtomPair CB 184 CB 365 SCALARWEIGHTEDFUNC 1.595 SUMFUNC 2 SIGMOID 8.601 2.801 CONSTANTFUNC -0.5
AtomPair CB 26 CB 30 SCALARWEIGHTEDFUNC 1.595 SUMFUNC 2 SIGMOID 9.306 2.915 CONSTANTFUNC -0.5
AtomPair CB 196 CB 350 SCALARWEIGHTEDFUNC 1.593 SUMFUNC 2 SIGMOID 5.854 3.205 CONSTANTFUNC -0.5
AtomPair CB 359 CB 362 SCALARWEIGHTEDFUNC 1.592 SUMFUNC 2 SIGMOID 9.842 2.304 CONSTANTFUNC -0.5
AtomPair CB 95 CB 98 SCALARWEIGHTEDFUNC 1.560 SUMFUNC 2 SIGMOID 10.123 3.058 CONSTANTFUNC -0.5
AtomPair CB 217 CB 242 SCALARWEIGHTEDFUNC 1.558 SUMFUNC 2 SIGMOID 10.999 1.304 CONSTANTFUNC -0.5
AtomPair CB 127 CB 131 SCALARWEIGHTEDFUNC 1.554 SUMFUNC 2 SIGMOID 9.842 2.304 CONSTANTFUNC -0.5
AtomPair CB 42 CB 45 SCALARWEIGHTEDFUNC 1.536 SUMFUNC 2 SIGMOID 9.842 2.304 CONSTANTFUNC -0.5
AtomPair CB 27 CB 282 SCALARWEIGHTEDFUNC 1.526 SUMFUNC 2 SIGMOID 9.168 2.545 CONSTANTFUNC -0.5
AtomPair CB 130 CB 134 SCALARWEIGHTEDFUNC 1.514 SUMFUNC 2 SIGMOID 7.124 2.941 CONSTANTFUNC -0.5
AtomPair CB 133 CB 198 SCALARWEIGHTEDFUNC 1.483 SUMFUNC 2 SIGMOID 7.751 3.155 CONSTANTFUNC -0.5
AtomPair CB 350 CB 357 SCALARWEIGHTEDFUNC 1.468 SUMFUNC 2 SIGMOID 5.854 3.205 CONSTANTFUNC -0.5
AtomPair CB 115 CB 224 SCALARWEIGHTEDFUNC 1.460 SUMFUNC 2 SIGMOID 9.122 3.145 CONSTANTFUNC -0.5
AtomPair CB 209 CB 212 SCALARWEIGHTEDFUNC 1.444 SUMFUNC 2 SIGMOID 7.472 2.933 CONSTANTFUNC -0.5
AtomPair CB 362 CB 365 SCALARWEIGHTEDFUNC 1.433 SUMFUNC 2 SIGMOID 9.667 1.919 CONSTANTFUNC -0.5
AtomPair CB 71 CB 104 SCALARWEIGHTEDFUNC 1.431 SUMFUNC 2 SIGMOID 6.587 4.673 CONSTANTFUNC -0.5
AtomPair CB 17 CB 21 SCALARWEIGHTEDFUNC 1.425 SUMFUNC 2 SIGMOID 9.121 2.257 CONSTANTFUNC -0.5
AtomPair CB 82 CB 277 SCALARWEIGHTEDFUNC 1.423 SUMFUNC 2 SIGMOID 9.306 2.915 CONSTANTFUNC -0.5
AtomPair CB 346 CB 355 SCALARWEIGHTEDFUNC 1.422 SUMFUNC 2 SIGMOID 7.583 2.809 CONSTANTFUNC -0.5
AtomPair CB 137 CB 203 SCALARWEIGHTEDFUNC 1.406 SUMFUNC 2 SIGMOID 9.582 1.401 CONSTANTFUNC -0.5
AtomPair CB 363 CB 366 SCALARWEIGHTEDFUNC 1.405 SUMFUNC 2 SIGMOID 6.971 3.257 CONSTANTFUNC -0.5
AtomPair CB 355 CB 360 SCALARWEIGHTEDFUNC 1.402 SUMFUNC 2 SIGMOID 7.583 2.809 CONSTANTFUNC -0.5
AtomPair CB 26 CB 291 SCALARWEIGHTEDFUNC 1.400 SUMFUNC 2 SIGMOID 9.842 2.304 CONSTANTFUNC -0.5
AtomPair CB 77 CB 268 SCALARWEIGHTEDFUNC 1.400 SUMFUNC 2 SIGMOID 5.381 3.817 CONSTANTFUNC -0.5
AtomPair CB 133 CB 137 SCALARWEIGHTEDFUNC 1.400 SUMFUNC 2 SIGMOID 9.198 1.818 CONSTANTFUNC -0.5
AtomPair CB 136 CB 224 SCALARWEIGHTEDFUNC 1.396 SUMFUNC 2 SIGMOID 8.401 2.770 CONSTANTFUNC -0.5
AtomPair CB 28 CA 32 SCALARWEIGHTEDFUNC 1.394 SUMFUNC 2 SIGMOID 7.036 4.016 CONSTANTFUNC -0.5
AtomPair CB 119 CB 241 SCALARWEIGHTEDFUNC 1.391 SUMFUNC 2 SIGMOID 9.319 2.513 CONSTANTFUNC -0.5
AtomPair CB 138 CB 142 SCALARWEIGHTEDFUNC 1.390 SUMFUNC 2 SIGMOID 9.842 2.304 CONSTANTFUNC -0.5
AtomPair CB 279 CB 283 SCALARWEIGHTEDFUNC 1.386 SUMFUNC 2 SIGMOID 10.999 1.304 CONSTANTFUNC -0.5
AtomPair CB 346 CB 363 SCALARWEIGHTEDFUNC 1.382 SUMFUNC 2 SIGMOID 6.388 3.460 CONSTANTFUNC -0.5
AtomPair CB 135 CB 138 SCALARWEIGHTEDFUNC 1.378 SUMFUNC 2 SIGMOID 8.077 2.105 CONSTANTFUNC -0.5
AtomPair CB 126 CB 131 SCALARWEIGHTEDFUNC 1.376 SUMFUNC 2 SIGMOID 7.938 2.105 CONSTANTFUNC -0.5
AtomPair CB 35 CB 279 SCALARWEIGHTEDFUNC 1.370 SUMFUNC 2 SIGMOID 9.057 4.065 CONSTANTFUNC -0.5
AtomPair CB 22 CB 26 SCALARWEIGHTEDFUNC 1.365 SUMFUNC 2 SIGMOID 9.842 2.304 CONSTANTFUNC -0.5
AtomPair CB 105 CB 263 SCALARWEIGHTEDFUNC 1.347 SUMFUNC 2 SIGMOID 5.829 3.436 CONSTANTFUNC -0.5
AtomPair CB 282 CB 288 SCALARWEIGHTEDFUNC 1.341 SUMFUNC 2 SIGMOID 8.485 2.364 CONSTANTFUNC -0.5
AtomPair CB 133 CB 201 SCALARWEIGHTEDFUNC 1.339 SUMFUNC 2 SIGMOID 7.497 2.994 CONSTANTFUNC -0.5
AtomPair CB 197 CB 200 SCALARWEIGHTEDFUNC 1.331 SUMFUNC 2 SIGMOID 9.306 2.915 CONSTANTFUNC -0.5
AtomPair CB 8 CB 38 SCALARWEIGHTEDFUNC 1.327 SUMFUNC 2 SIGMOID 7.404 1.961 CONSTANTFUNC -0.5
AtomPair CB 291 CB 295 SCALARWEIGHTEDFUNC 1.315 SUMFUNC 2 SIGMOID 9.842 2.304 CONSTANTFUNC -0.5
AtomPair CB 77 CB 270 SCALARWEIGHTEDFUNC 1.308 SUMFUNC 2 SIGMOID 5.829 3.436 CONSTANTFUNC -0.5
AtomPair CB 356 CB 360 SCALARWEIGHTEDFUNC 1.306 SUMFUNC 2 SIGMOID 5.982 2.646 CONSTANTFUNC -0.5
AtomPair CB 267 CB 270 SCALARWEIGHTEDFUNC 1.293 SUMFUNC 2 SIGMOID 7.081 3.279 CONSTANTFUNC -0.5
AtomPair CB 170 CB 177 SCALARWEIGHTEDFUNC 1.293 SUMFUNC 2 SIGMOID 9.306 2.915 CONSTANTFUNC -0.5
AtomPair CB 114 CB 244 SCALARWEIGHTEDFUNC 1.293 SUMFUNC 2 SIGMOID 6.567 4.878 CONSTANTFUNC -0.5
AtomPair CB 216 CB 221 SCALARWEIGHTEDFUNC 1.292 SUMFUNC 2 SIGMOID 7.124 2.941 CONSTANTFUNC -0.5
AtomPair CA 187 CB 190 SCALARWEIGHTEDFUNC 1.289 SUMFUNC 2 SIGMOID 5.201 3.717 CONSTANTFUNC -0.5
AtomPair CB 59 CB 279 SCALARWEIGHTEDFUNC 1.288 SUMFUNC 2 SIGMOID 9.602 2.882 CONSTANTFUNC -0.5
AtomPair CB 277 CB 281 SCALARWEIGHTEDFUNC 1.274 SUMFUNC 2 SIGMOID 9.842 2.304 CONSTANTFUNC -0.5
AtomPair CB 346 CB 364 SCALARWEIGHTEDFUNC 1.271 SUMFUNC 2 SIGMOID 5.381 3.817 CONSTANTFUNC -0.5
AtomPair CB 27 CB 275 SCALARWEIGHTEDFUNC 1.260 SUMFUNC 2 SIGMOID 9.9 3.846 CONSTANTFUNC -0.5
AtomPair CA 24 CB 35 SCALARWEIGHTEDFUNC 1.257 SUMFUNC 2 SIGMOID 5.671 9.346 CONSTANTFUNC -0.5
AtomPair CB 341 CB 345 SCALARWEIGHTEDFUNC 1.247 SUMFUNC 2 SIGMOID 9.813 2.326 CONSTANTFUNC -0.5
AtomPair CB 58 CB 270 SCALARWEIGHTEDFUNC 1.239 SUMFUNC 2 SIGMOID 6.76 3.096 CONSTANTFUNC -0.5
AtomPair CB 266 CB 276 SCALARWEIGHTEDFUNC 1.235 SUMFUNC 2 SIGMOID 6.587 4.673 CONSTANTFUNC -0.5
AtomPair CB 363 CB 367 SCALARWEIGHTEDFUNC 1.233 SUMFUNC 2 SIGMOID 10.123 3.058 CONSTANTFUNC -0.5
AtomPair CB 189 CB 193 SCALARWEIGHTEDFUNC 1.231 SUMFUNC 2 SIGMOID 8.715 2.155 CONSTANTFUNC -0.5
AtomPair CB 105 CA 265 SCALARWEIGHTEDFUNC 1.229 SUMFUNC 2 SIGMOID 5.201 3.717 CONSTANTFUNC -0.5
AtomPair CB 59 CB 276 SCALARWEIGHTEDFUNC 1.227 SUMFUNC 2 SIGMOID 6.587 4.673 CONSTANTFUNC -0.5
AtomPair CB 46 CB 50 SCALARWEIGHTEDFUNC 1.219 SUMFUNC 2 SIGMOID 8.077 1.577 CONSTANTFUNC -0.5
AtomPair CB 78 CB 81 SCALARWEIGHTEDFUNC 1.218 SUMFUNC 2 SIGMOID 7.938 2.105 CONSTANTFUNC -0.5
AtomPair CB 140 CB 146 SCALARWEIGHTEDFUNC 1.218 SUMFUNC 2 SIGMOID 8.327 1.818 CONSTANTFUNC -0.5
AtomPair CB 266 CB 277 SCALARWEIGHTEDFUNC 1.217 SUMFUNC 2 SIGMOID 8.329 1.718 CONSTANTFUNC -0.5
AtomPair CB 161 CA 166 SCALARWEIGHTEDFUNC 1.211 SUMFUNC 2 SIGMOID 6.413 5.587 CONSTANTFUNC -0.5
AtomPair CB 164 CB 190 SCALARWEIGHTEDFUNC 1.204 SUMFUNC 2 SIGMOID 6.388 3.460 CONSTANTFUNC -0.5
AtomPair CB 121 CB 139 SCALARWEIGHTEDFUNC 1.198 SUMFUNC 2 SIGMOID 8.522 5.051 CONSTANTFUNC -0.5
AtomPair CB 114 CB 320 SCALARWEIGHTEDFUNC 1.197 SUMFUNC 2 SIGMOID 6.45 4.673 CONSTANTFUNC -0.5
AtomPair CB 345 CB 367 SCALARWEIGHTEDFUNC 1.194 SUMFUNC 2 SIGMOID 9.764 2.096 CONSTANTFUNC -0.5
AtomPair CB 88 CB 302 SCALARWEIGHTEDFUNC 1.181 SUMFUNC 2 SIGMOID 8.077 1.577 CONSTANTFUNC -0.5
AtomPair CB 290 CB 294 SCALARWEIGHTEDFUNC 1.180 SUMFUNC 2 SIGMOID 7.889 3.584 CONSTANTFUNC -0.5
AtomPair CB 170 CB 180 SCALARWEIGHTEDFUNC 1.179 SUMFUNC 2 SIGMOID 9.306 2.915 CONSTANTFUNC -0.5
AtomPair CB 118 CB 240 SCALARWEIGHTEDFUNC 1.174 SUMFUNC 2 SIGMOID 7.219 4.310 CONSTANTFUNC -0.5
AtomPair CB 133 CB 194 SCALARWEIGHTEDFUNC 1.174 SUMFUNC 2 SIGMOID 8.895 2.353 CONSTANTFUNC -0.5
AtomPair CB 349 CB 363 SCALARWEIGHTEDFUNC 1.169 SUMFUNC 2 SIGMOID 7.672 2.967 CONSTANTFUNC -0.5
AtomPair CB 268 CB 273 SCALARWEIGHTEDFUNC 1.158 SUMFUNC 2 SIGMOID 8.327 1.818 CONSTANTFUNC -0.5
AtomPair CB 194 CB 197 SCALARWEIGHTEDFUNC 1.154 SUMFUNC 2 SIGMOID 9.111 2.849 CONSTANTFUNC -0.5
AtomPair CB 108 CB 264 SCALARWEIGHTEDFUNC 1.152 SUMFUNC 2 SIGMOID 6.587 4.673 CONSTANTFUNC -0.5
AtomPair CB 286 CB 290 SCALARWEIGHTEDFUNC 1.149 SUMFUNC 2 SIGMOID 7.642 5.263 CONSTANTFUNC -0.5
AtomPair CB 97 CB 103 SCALARWEIGHTEDFUNC 1.143 SUMFUNC 2 SIGMOID 7.633 5.587 CONSTANTFUNC -0.5
AtomPair CB 279 CB 282 SCALARWEIGHTEDFUNC 1.142 SUMFUNC 2 SIGMOID 9.168 2.545 CONSTANTFUNC -0.5
AtomPair CB 27 CB 279 SCALARWEIGHTEDFUNC 1.141 SUMFUNC 2 SIGMOID 10.903 2.174 CONSTANTFUNC -0.5
AtomPair CB 122 CB 139 SCALARWEIGHTEDFUNC 1.140 SUMFUNC 2 SIGMOID 8.522 5.051 CONSTANTFUNC -0.5
AtomPair CB 130 CB 251 SCALARWEIGHTEDFUNC 1.136 SUMFUNC 2 SIGMOID 9.842 2.304 CONSTANTFUNC -0.5
AtomPair CB 194 CB 198 SCALARWEIGHTEDFUNC 1.131 SUMFUNC 2 SIGMOID 9.9 3.846 CONSTANTFUNC -0.5
AtomPair CB 322 CB 325 SCALARWEIGHTEDFUNC 1.130 SUMFUNC 2 SIGMOID 9.328 2.222 CONSTANTFUNC -0.5
AtomPair CB 192 CB 350 SCALARWEIGHTEDFUNC 1.130 SUMFUNC 2 SIGMOID 6.707 4.000 CONSTANTFUNC -0.5
AtomPair CB 135 CB 224 SCALARWEIGHTEDFUNC 1.128 SUMFUNC 2 SIGMOID 9.122 3.145 CONSTANTFUNC -0.5
AtomPair CB 302 CB 305 SCALARWEIGHTEDFUNC 1.123 SUMFUNC 2 SIGMOID 8.077 1.577 CONSTANTFUNC -0.5
AtomPair CB 275 CB 278 SCALARWEIGHTEDFUNC 1.117 SUMFUNC 2 SIGMOID 8.077 2.105 CONSTANTFUNC -0.5
AtomPair CB 47 CB 60 SCALARWEIGHTEDFUNC 1.113 SUMFUNC 2 SIGMOID 9.602 2.882 CONSTANTFUNC -0.5
AtomPair CB 189 CB 361 SCALARWEIGHTEDFUNC 1.108 SUMFUNC 2 SIGMOID 8.479 1.692 CONSTANTFUNC -0.5
AtomPair CB 273 CB 277 SCALARWEIGHTEDFUNC 1.101 SUMFUNC 2 SIGMOID 10.662 1.355 CONSTANTFUNC -0.5
AtomPair CB 136 CB 203 SCALARWEIGHTEDFUNC 1.099 SUMFUNC 2 SIGMOID 8.634 3.077 CONSTANTFUNC -0.5
AtomPair CB 62 CA 265 SCALARWEIGHTEDFUNC 1.096 SUMFUNC 2 SIGMOID 8.966 4.184 CONSTANTFUNC -0.5
AtomPair CB 342 CB 367 SCALARWEIGHTEDFUNC 1.093 SUMFUNC 2 SIGMOID 9.365 2.062 CONSTANTFUNC -0.5
AtomPair CA 56 CB 267 SCALARWEIGHTEDFUNC 1.088 SUMFUNC 2 SIGMOID 6.321 5.917 CONSTANTFUNC -0.5
AtomPair CB 132 CB 147 SCALARWEIGHTEDFUNC 1.077 SUMFUNC 2 SIGMOID 8.342 3.831 CONSTANTFUNC -0.5
AtomPair CB 346 CB 349 SCALARWEIGHTEDFUNC 1.073 SUMFUNC 2 SIGMOID 6.766 2.865 CONSTANTFUNC -0.5
AtomPair CB 71 CB 99 SCALARWEIGHTEDFUNC 1.068 SUMFUNC 2 SIGMOID 9.121 2.257 CONSTANTFUNC -0.5
AtomPair CB 122 CB 135 SCALARWEIGHTEDFUNC 1.065 SUMFUNC 2 SIGMOID 8.522 5.051 CONSTANTFUNC -0.5
AtomPair CB 346 CB 360 SCALARWEIGHTEDFUNC 1.062 SUMFUNC 2 SIGMOID 5.381 3.817 CONSTANTFUNC -0.5
AtomPair CB 216 CB 222 SCALARWEIGHTEDFUNC 1.060 SUMFUNC 2 SIGMOID 5.982 2.646 CONSTANTFUNC -0.5
AtomPair CB 140 CB 203 SCALARWEIGHTEDFUNC 1.058 SUMFUNC 2 SIGMOID 9.582 1.401 CONSTANTFUNC -0.5
AtomPair CB 118 CB 121 SCALARWEIGHTEDFUNC 1.053 SUMFUNC 2 SIGMOID 7.889 3.584 CONSTANTFUNC -0.5
AtomPair CB 193 CB 196 SCALARWEIGHTEDFUNC 1.038 SUMFUNC 2 SIGMOID 6.791 7.246 CONSTANTFUNC -0.5
AtomPair CB 18 CB 21 SCALARWEIGHTEDFUNC 1.035 SUMFUNC 2 SIGMOID 6.766 2.865 CONSTANTFUNC -0.5
AtomPair CB 9 CB 59 SCALARWEIGHTEDFUNC 1.033 SUMFUNC 2 SIGMOID 8.096 3.115 CONSTANTFUNC -0.5
AtomPair CB 28 CB 35 SCALARWEIGHTEDFUNC 1.032 SUMFUNC 2 SIGMOID 7.404 1.961 CONSTANTFUNC -0.5
AtomPair CB 31 CB 278 SCALARWEIGHTEDFUNC 1.029 SUMFUNC 2 SIGMOID 7.628 2.445 CONSTANTFUNC -0.5
AtomPair CB 319 CB 322 SCALARWEIGHTEDFUNC 1.028 SUMFUNC 2 SIGMOID 7.124 2.941 CONSTANTFUNC -0.5
AtomPair CB 18 CB 22 SCALARWEIGHTEDFUNC 1.022 SUMFUNC 2 SIGMOID 8.485 2.364 CONSTANTFUNC -0.5
AtomPair CB 266 CB 270 SCALARWEIGHTEDFUNC 1.016 SUMFUNC 2 SIGMOID 7.142 2.924 CONSTANTFUNC -0.5
AtomPair CB 10 CB 57 SCALARWEIGHTEDFUNC 1.015 SUMFUNC 2 SIGMOID 9.719 2.165 CONSTANTFUNC -0.5
AtomPair CB 51 CB 75 SCALARWEIGHTEDFUNC 1.012 SUMFUNC 2 SIGMOID 6.707 4.000 CONSTANTFUNC -0.5
AtomPair CB 77 CB 266 SCALARWEIGHTEDFUNC 1.010 SUMFUNC 2 SIGMOID 6.587 4.673 CONSTANTFUNC -0.5
