# QUERY MAYNKEEKIKSLNRMQYEVTQNNGTEPPFQNEYWDHKEEGLYVDIVSGKPLFTSKDKFDSQCGWPSFTKPIEEEVEEKLDTSHGMIRTEVRSRTADSHLG
# MATCH ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
# INPUT MAYNKEEKIKSLNRMQYEVTQNNGTEPPFQNEYWDHKEEGLYVDIVSGKPLFTSKDKFDSQCGWPSFTKPIEEEVEEKLDTSHGMIRTEVRSRTADSHLG

# QUERY HVFNDGPGPNGLRYCINSAALRFVPKHKLKEEGYESYLHLF
# MATCH |||||||||||||||||||||||||||||||||||||||||
# INPUT HVFNDGPGPNGLRYCINSAALRFVPKHKLKEEGYESYLHLF

AtomPair CB 13 CB 16 SCALARWEIGHTEDFUNC 3.416 SUMFUNC 2 SIGMOID 8.502 2.681 CONSTANTFUNC -0.5
AtomPair CB 31 CB 118 SCALARWEIGHTEDFUNC 3.314 SUMFUNC 2 SIGMOID 7.081 3.279 CONSTANTFUNC -0.5
AtomPair CB 3 CB 11 SCALARWEIGHTEDFUNC 2.826 SUMFUNC 2 SIGMOID 9.594 2.141 CONSTANTFUNC -0.5
AtomPair CB 18 CB 22 SCALARWEIGHTEDFUNC 2.811 SUMFUNC 2 SIGMOID 8.485 2.364 CONSTANTFUNC -0.5
AtomPair CB 46 CB 97 SCALARWEIGHTEDFUNC 2.739 SUMFUNC 2 SIGMOID 6.567 4.878 CONSTANTFUNC -0.5
AtomPair CB 78 CB 91 SCALARWEIGHTEDFUNC 2.650 SUMFUNC 2 SIGMOID 11.322 1.543 CONSTANTFUNC -0.5
AtomPair CB 23 CB 91 SCALARWEIGHTEDFUNC 2.631 SUMFUNC 2 SIGMOID 10.135 2.688 CONSTANTFUNC -0.5
AtomPair CB 20 CB 97 SCALARWEIGHTEDFUNC 2.620 SUMFUNC 2 SIGMOID 6.45 4.673 CONSTANTFUNC -0.5
AtomPair CB 128 CB 131 SCALARWEIGHTEDFUNC 2.558 SUMFUNC 2 SIGMOID 9.842 2.304 CONSTANTFUNC -0.5
AtomPair CB 18 CA 24 SCALARWEIGHTEDFUNC 2.480 SUMFUNC 2 SIGMOID 7.036 4.016 CONSTANTFUNC -0.5
AtomPair CB 90 CB 116 SCALARWEIGHTEDFUNC 2.461 SUMFUNC 2 SIGMOID 7.441 4.132 CONSTANTFUNC -0.5
AtomPair CB 16 CB 45 SCALARWEIGHTEDFUNC 2.387 SUMFUNC 2 SIGMOID 8.302 2.463 CONSTANTFUNC -0.5
AtomPair CB 81 CB 86 SCALARWEIGHTEDFUNC 2.292 SUMFUNC 2 SIGMOID 7.442 3.861 CONSTANTFUNC -0.5
AtomPair CB 68 CB 109 SCALARWEIGHTEDFUNC 2.222 SUMFUNC 2 SIGMOID 7.062 3.125 CONSTANTFUNC -0.5
AtomPair CB 20 CB 46 SCALARWEIGHTEDFUNC 2.070 SUMFUNC 2 SIGMOID 6.791 7.246 CONSTANTFUNC -0.5
AtomPair CB 52 CB 114 SCALARWEIGHTEDFUNC 2.011 SUMFUNC 2 SIGMOID 10.999 1.304 CONSTANTFUNC -0.5
AtomPair CB 56 CB 68 SCALARWEIGHTEDFUNC 2.002 SUMFUNC 2 SIGMOID 6.971 3.257 CONSTANTFUNC -0.5
AtomPair CB 49 CB 93 SCALARWEIGHTEDFUNC 1.973 SUMFUNC 2 SIGMOID 11.322 1.543 CONSTANTFUNC -0.5
AtomPair CB 47 CB 95 SCALARWEIGHTEDFUNC 1.937 SUMFUNC 2 SIGMOID 5.829 3.436 CONSTANTFUNC -0.5
AtomPair CB 49 CB 94 SCALARWEIGHTEDFUNC 1.902 SUMFUNC 2 SIGMOID 8.715 2.155 CONSTANTFUNC -0.5
AtomPair CB 79 CB 86 SCALARWEIGHTEDFUNC 1.896 SUMFUNC 2 SIGMOID 8.342 3.831 CONSTANTFUNC -0.5
AtomPair CB 20 CB 45 SCALARWEIGHTEDFUNC 1.896 SUMFUNC 2 SIGMOID 7.442 3.861 CONSTANTFUNC -0.5
AtomPair CB 4 CB 7 SCALARWEIGHTEDFUNC 1.870 SUMFUNC 2 SIGMOID 8.485 2.364 CONSTANTFUNC -0.5
AtomPair CB 36 CB 123 SCALARWEIGHTEDFUNC 1.857 SUMFUNC 2 SIGMOID 9.602 1.845 CONSTANTFUNC -0.5
AtomPair CB 37 CB 60 SCALARWEIGHTEDFUNC 1.826 SUMFUNC 2 SIGMOID 8.792 2.247 CONSTANTFUNC -0.5
AtomPair CB 129 CB 141 SCALARWEIGHTEDFUNC 1.759 SUMFUNC 2 SIGMOID 9.9 3.846 CONSTANTFUNC -0.5
AtomPair CB 128 CB 132 SCALARWEIGHTEDFUNC 1.685 SUMFUNC 2 SIGMOID 9.842 2.304 CONSTANTFUNC -0.5
AtomPair CB 43 CB 124 SCALARWEIGHTEDFUNC 1.685 SUMFUNC 2 SIGMOID 6.759 6.897 CONSTANTFUNC -0.5
AtomPair CB 82 CB 85 SCALARWEIGHTEDFUNC 1.676 SUMFUNC 2 SIGMOID 8.01 2.710 CONSTANTFUNC -0.5
AtomPair CB 130 CB 138 SCALARWEIGHTEDFUNC 1.672 SUMFUNC 2 SIGMOID 8.479 1.692 CONSTANTFUNC -0.5
AtomPair CB 21 CB 46 SCALARWEIGHTEDFUNC 1.664 SUMFUNC 2 SIGMOID 8.008 2.786 CONSTANTFUNC -0.5
AtomPair CB 32 CB 118 SCALARWEIGHTEDFUNC 1.587 SUMFUNC 2 SIGMOID 7.483 2.242 CONSTANTFUNC -0.5
AtomPair CB 76 CB 91 SCALARWEIGHTEDFUNC 1.581 SUMFUNC 2 SIGMOID 10.713 2.755 CONSTANTFUNC -0.5
AtomPair CB 104 CB 112 SCALARWEIGHTEDFUNC 1.559 SUMFUNC 2 SIGMOID 7.889 3.584 CONSTANTFUNC -0.5
AtomPair CB 39 CB 126 SCALARWEIGHTEDFUNC 1.550 SUMFUNC 2 SIGMOID 9.842 2.304 CONSTANTFUNC -0.5
AtomPair CB 8 CB 21 SCALARWEIGHTEDFUNC 1.533 SUMFUNC 2 SIGMOID 9.667 1.919 CONSTANTFUNC -0.5
AtomPair CB 27 CB 30 SCALARWEIGHTEDFUNC 1.525 SUMFUNC 2 SIGMOID 8.308 2.439 CONSTANTFUNC -0.5
AtomPair CB 19 CB 119 SCALARWEIGHTEDFUNC 1.502 SUMFUNC 2 SIGMOID 5.854 3.205 CONSTANTFUNC -0.5
AtomPair CB 33 CB 36 SCALARWEIGHTEDFUNC 1.490 SUMFUNC 2 SIGMOID 10.843 1.805 CONSTANTFUNC -0.5
AtomPair CB 130 CB 135 SCALARWEIGHTEDFUNC 1.470 SUMFUNC 2 SIGMOID 9.842 2.304 CONSTANTFUNC -0.5
AtomPair CB 105 CA 111 SCALARWEIGHTEDFUNC 1.454 SUMFUNC 2 SIGMOID 6.135 5.181 CONSTANTFUNC -0.5
AtomPair CB 56 CB 69 SCALARWEIGHTEDFUNC 1.438 SUMFUNC 2 SIGMOID 9.306 2.915 CONSTANTFUNC -0.5
AtomPair CB 77 CB 112 SCALARWEIGHTEDFUNC 1.406 SUMFUNC 2 SIGMOID 8.077 2.105 CONSTANTFUNC -0.5
AtomPair CB 91 CB 96 SCALARWEIGHTEDFUNC 1.355 SUMFUNC 2 SIGMOID 10.123 3.058 CONSTANTFUNC -0.5
AtomPair CB 76 CB 96 SCALARWEIGHTEDFUNC 1.331 SUMFUNC 2 SIGMOID 8.945 2.825 CONSTANTFUNC -0.5
AtomPair CB 122 CB 132 SCALARWEIGHTEDFUNC 1.329 SUMFUNC 2 SIGMOID 10.713 2.755 CONSTANTFUNC -0.5
AtomPair CB 92 CB 95 SCALARWEIGHTEDFUNC 1.327 SUMFUNC 2 SIGMOID 5.829 3.436 CONSTANTFUNC -0.5
AtomPair CB 15 CB 18 SCALARWEIGHTEDFUNC 1.321 SUMFUNC 2 SIGMOID 8.87 1.957 CONSTANTFUNC -0.5
AtomPair CB 50 CB 71 SCALARWEIGHTEDFUNC 1.307 SUMFUNC 2 SIGMOID 7.554 2.976 CONSTANTFUNC -0.5
AtomPair CB 23 CB 78 SCALARWEIGHTEDFUNC 1.291 SUMFUNC 2 SIGMOID 9.319 2.513 CONSTANTFUNC -0.5
AtomPair CB 49 CB 74 SCALARWEIGHTEDFUNC 1.287 SUMFUNC 2 SIGMOID 9.842 2.304 CONSTANTFUNC -0.5
AtomPair CB 34 CB 37 SCALARWEIGHTEDFUNC 1.277 SUMFUNC 2 SIGMOID 10.136 2.128 CONSTANTFUNC -0.5
AtomPair CB 126 CB 138 SCALARWEIGHTEDFUNC 1.275 SUMFUNC 2 SIGMOID 8.479 1.692 CONSTANTFUNC -0.5
AtomPair CB 32 CB 122 SCALARWEIGHTEDFUNC 1.220 SUMFUNC 2 SIGMOID 10.713 2.755 CONSTANTFUNC -0.5
AtomPair CB 5 CB 22 SCALARWEIGHTEDFUNC 1.208 SUMFUNC 2 SIGMOID 9.319 2.513 CONSTANTFUNC -0.5
AtomPair CB 37 CB 59 SCALARWEIGHTEDFUNC 1.194 SUMFUNC 2 SIGMOID 9.306 2.915 CONSTANTFUNC -0.5
AtomPair CB 33 CB 123 SCALARWEIGHTEDFUNC 1.193 SUMFUNC 2 SIGMOID 10.999 1.304 CONSTANTFUNC -0.5
AtomPair CB 76 CB 93 SCALARWEIGHTEDFUNC 1.130 SUMFUNC 2 SIGMOID 10.713 2.755 CONSTANTFUNC -0.5
AtomPair CB 17 CB 21 SCALARWEIGHTEDFUNC 1.120 SUMFUNC 2 SIGMOID 10.534 1.828 CONSTANTFUNC -0.5
AtomPair CB 43 CA 48 SCALARWEIGHTEDFUNC 1.112 SUMFUNC 2 SIGMOID 5.671 9.346 CONSTANTFUNC -0.5
AtomPair CB 9 CB 17 SCALARWEIGHTEDFUNC 1.103 SUMFUNC 2 SIGMOID 9.719 1.698 CONSTANTFUNC -0.5
AtomPair CB 44 CB 92 SCALARWEIGHTEDFUNC 1.099 SUMFUNC 2 SIGMOID 6.76 3.096 CONSTANTFUNC -0.5
AtomPair CB 138 CB 141 SCALARWEIGHTEDFUNC 1.073 SUMFUNC 2 SIGMOID 9.9 3.846 CONSTANTFUNC -0.5
AtomPair CB 83 CB 86 SCALARWEIGHTEDFUNC 1.066 SUMFUNC 2 SIGMOID 8.523 2.639 CONSTANTFUNC -0.5
AtomPair CB 36 CB 42 SCALARWEIGHTEDFUNC 1.059 SUMFUNC 2 SIGMOID 10.843 1.805 CONSTANTFUNC -0.5
AtomPair CB 45 CB 97 SCALARWEIGHTEDFUNC 1.058 SUMFUNC 2 SIGMOID 7.142 2.924 CONSTANTFUNC -0.5
AtomPair CB 41 CB 50 SCALARWEIGHTEDFUNC 1.030 SUMFUNC 2 SIGMOID 7.751 3.155 CONSTANTFUNC -0.5
AtomPair CB 90 CB 99 SCALARWEIGHTEDFUNC 1.023 SUMFUNC 2 SIGMOID 7.633 5.587 CONSTANTFUNC -0.5
AtomPair CB 68 CB 110 SCALARWEIGHTEDFUNC 1.023 SUMFUNC 2 SIGMOID 7.159 3.817 CONSTANTFUNC -0.5
AtomPair CB 37 CB 62 SCALARWEIGHTEDFUNC 1.018 SUMFUNC 2 SIGMOID 8.494 1.919 CONSTANTFUNC -0.5
